{% extends 'portal/base.html' %}
{% load static %}
{% load template_func %}

{% block css %}
{% endblock %}

{% block content %}
<!-- main wrapper div content -->
<div class="wrapper">

    <!--================================-->
    <!-- Breadcrumb Start -->
    <!--================================-->
    <div class="pageheader pd-t-25 pd-b-35">
        <div class="d-flex justify-content-between">
            <div class="clearfix">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 tx-20 tx-dark">{{parent_page_title}} {{page_title}}</h1>
                </div>
                <div class="breadcrumb pd-0 mg-0">
                    {% for breadcrumb in breadcrumbs %}
                    {% if forloop.counter != breadcrumbs|length %}
                    <a class="breadcrumb-item" href="{{breadcrumb.url}}">{{breadcrumb.name}}</a>
                    {% else %}
                    <span class="breadcrumb-item active">{{breadcrumb.name}}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row row-xs clearfix">
        <div class="col-md-12 col-lg-12">
            {% if messages %}
            {% for message in messages %}
            {% if forloop.counter == messages|length %}
            <div class="{{ message.tags }} success-msg-txt" style="height: 30px; text-align: center;">{{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="card mg-b-30">
                <!-- upper header of form -->
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-header-title tx-13 mb-0">{{parent_page_title}} {{page_title}}</h6>
                        </div>
                        <div class="text-right">
                            <div class="d-flex">
                                <a href="{% url 'superuser:materialIssueList' %}" class="mr-3"><i
                                        class="fa fa-step-backward"></i></a>
                                <a href="" class="mr-3"><i class="ti-reload"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end upper header -->
                <!-- main form  -->
                <div class="card-body">
                    <form id="create_form" class="needs-validation" novalidate enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col-md-3 mb-3 test ">
                                <label>Job Order No<span class="required-indicator">*</span></label>
                                <div class="input-group">
                                    <select class="custom-select selectpicker" id="job_order_id" name="job_order_id" required>
                                        <option value="">Choose...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label>Store Type<span class="required-indicator">*</span></label>
                                <div class="input-group">
                                    <select class="custom-select selectpicker" id="store_type" name="store_type" required>
                                        <option></option>
                                        <option value="InHouse">Inhouse Store</option>
                                        <option value="Vendor">Vendor Store</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-3 mb-3">
                                <label>Store<span class="required-indicator">*</span></label>
                                <div class="input-group">
                                    <select class="custom-select selectpicker" id="store_id" name="store_id" required>
                                        <option value="">Choose...</option>
                                    </select>
                                </div>
                            </div>                            

                            <div class="col-md-3 mb-3">
                                <label>Vendor/Supplier </label>
                                <input type="text" id="vendor_name" name="vendor_name" class="form-control" placeholder="" readonly >
                                <input type="hidden" class="vendor_id" name="vendor_id">
                            </div>

                            <div class="col-md-2 mb-3">
                                <label>Issue Date <span class="required-indicator">*</span></label>
                                <input type="date" name="issue_date" id = "issue_date" class="form-control issue_date" placeholder="Order Date"
                                required>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label>Vehicle </label>
                                <input type="text" id="vehicle" name="vehicle" class="form-control" placeholder="vehicle name" >
                            </div>

                            <div class="col-md-12" id="table_form">
                                
                            </div>
                            <div class="col-md-12" id="tAmount" hidden>
                                <div class="col-md-3 mb-3">
                                    <label>Total Amount <span class="required-indicator">*</span></label>
                                    <input type="text" 
                                        onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                        name="total_amount" min="0.01" class="form-control total_amount"
                                        placeholder="0" readonly>
                                </div>
                            </div>

                        </div>
                        {% if request.user.is_superuser == 1 or 'add_store_transaction'|get_session_permission:request is not None %}
                        <div id="submit" hidden>
                            <button class="btn btn-success submit-btn" type="submit">Submit</button>
                        </div>
                        {% endif %}
                    </form>
                </div>
                <!-- end main form -->
            </div>
        </div>
    </div>

</div>
<!-- end main wrapper div -->

{% endblock %}

{% block js %}
<!-- script -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
    var item_options_text = ``;
    var item_options_used_pk = [];

    $('.selectpicker').select2({
        placeholder: '',
        templateResult: function(option) {
            if(option.element && (option.element).hasAttribute('hidden')){
                return null;
            }
            return option.text;
        }
    });

    $('#job_order_id').select2({
        placeholder: "Select Job Order"
    });

    $('#store_type').select2({
        placeholder: "Select store type"
    });

    $('#store_id').select2({
        placeholder: "Select store"
    });

    function renderItemDropdown(){
        $('.item_id').each(function(){
            let selected_item_id=$(this).val()
            $(this).children("option").each(function(index, element){
                if($(this).val()!==selected_item_id && item_options_used_pk.includes($(this).val()) ){
                    $(this).prop("hidden",true)
                }
                else{
                    $(this).prop("hidden",false)
                }
            })
        })
    }

    function renderTotalAmount(){
        let total_amount=0;
        $('.amount').each(function(){
            if($(this).val()){
                total_amount += parseFloat($(this).val())
            }
        })

        $('.total_amount').val(total_amount)
    }

    function update_item_options_used_pk(){
        item_options_used_pk=[]
        $('.item_id').each(function(){
            item_options_used_pk.push($(this).val())
        }); 
    }

    function callback(){
        var callbacks = $.Callbacks();
        callbacks.add(update_item_options_used_pk);
        callbacks.fire();
        callbacks.add(renderItemDropdown);
        callbacks.fire();
        
        $('.item_id').select2({
            placeholder: '',
            templateResult: function(option) {
                if(option.element && (option.element).hasAttribute('hidden')){
                    return null;
                }
                return option.text;
            }
        });
    }

    $(document).ready(function () {
        $("#issue_date").val(new Date().toISOString().slice(0, 10))
        // $.ajax({
        //     url: "{% url 'api:storeList' %}?store_type=InHouse",
        //     type: 'GET',
        //     data: ({
        //     }),
        //     headers: {
        //         'Authorization': getCookieValue("accessToken")
        //     },
        //     success: function (response) {
        //         if (response.status == 200) {
        //             let store_options_text = `<option value="">Choose item</option>`;
        //             for (let index = 0; index < response.page_items.length; index++) {
        //                 store_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].name}</option>`;
        //             }
        //             $('#store_id').html(store_options_text);
        //             $('.selectpicker').select2({
        //                 placeholder: '',
        //                 templateResult: function(option) {
        //                     if(option.element && (option.element).hasAttribute('hidden')){
        //                         return null;
        //                     }
        //                     return option.text;
        //                 }
        //             });
        //         } 
        //         else {
        //             alert(response.message);
        //         }
        //     },
        //     error: function (error) {
        //         $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
        //     }
        // });

        $.ajax({
            url: "{% url 'api:jobOrderList' %}?find_all=1&material_issue=0,1",
            type: 'GET',
            data: ({}),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {

                    var job_order_options_text = `<option value="">Choose item</option>`;
                    for (let index = 0; index < response.page_items.length; index++) {
                        job_order_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].order_number}</option>`;
                    }
                    $('#job_order_id').html(job_order_options_text);

                } 
                else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
        
        $.ajax({
            url: "{% url 'api:itemList' %}?find_all=1",
            type: 'GET',
            data: ({
            }),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    // itemsData=response.page_items
                    item_options_text += `<option value="">Choose item</option>`;
                    for (let index = 0; index < response.page_items.length; index++) {
                        item_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].name}</option>`;
                    }
                } 
                else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    
    });
    
    $(document).on('change','#store_type' , function(){
        let store_type=$(this).val()
        $(".actual_quantity").val('')
        $.ajax({
            url: "{% url 'api:storeList' %}?store_type="+ encodeURIComponent(store_type),
            type: 'GET',
            data: ({
            }),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    let store_options_text = `<option value="">Choose store</option>`;
                    for (let index = 0; index < response.page_items.length; index++) {
                        store_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].name}</option>`;
                    }
                    $('#store_id').html(store_options_text);
                    $('#store_id').select2({
                        placeholder: "Select store"
                    });
                } 
                else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    })

    $(document).on('change','#store_id' , function(){
        if( $('#job_order_id').val() != "" ){ 
            fill_up_actual_quantity()
        }
    })

    $(document).on('change','#job_order_id',function(){
        $(this).parents().closest('.form-row').find('.content_parent').remove();
        callMaterialIssue()
        callback()
    });

    $(document).on('change','.item_id',function(){
        let selected_item_pk=$(this).val()
        //console.log(selected_item_pk);
        let store_id =  $('select#store_id option:selected').val()
        let actual_quantity = $(this).closest('.content_parent').find('.actual_quantity')
        let quantity_sent = $(this).closest('.content_parent').find('.quantity_sent')
        let rate =  $(this).closest('.content_parent').find('.rate')
        // console.log(quantity_sents.html());
        $.ajax({
            url: "{% url 'api:getActualQuantity' %}?",
            type: 'GET',
            data: ({
                'item_id':selected_item_pk,
                'store_id':store_id
            }),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    actual_quantity.val(+response.actual_quantity)
                    quantity_sent.attr('max',+response.actual_quantity)
                    rate.val(response.item_price)
                } 
                else {
                    alert(response.message);
                }
            },
            error: function (error) {
                        $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                    }
        });
        
        $('.item_id').select2({
            placeholder: "Select Item",
            templateResult: function(option) {
                if(option.element && (option.element).hasAttribute('hidden')){
                    return null;
                }
                return option.text;
            }
        });

        callback()
    });

    $(document).on('click','.add_btn',function(){
            var text_inp = `<div class="form-row content_parent">
                                    <div class="col-md-3 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <div class="input-group">
                                            <select class="custom-select selectpicker item_id" name="item_id" required>
                                                ${item_options_text}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Actual quantity <span class="required-indicator">*</span></label>
                                        <input type="text" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="actual_quantity" min="0.01" class="form-control actual_quantity"
                                            placeholder="0" readonly>
                                    </div>

                                    <div class="col-md-1 mb-3">
                                        <label>Rate <span class="required-indicator">*</span></label>
                                        <input type="text" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="rate" min="0.01" class="form-control rate"
                                            placeholder="0" readonly>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Quantity Sent <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="quantity_sent" min="0" class="form-control quantity_sent"
                                            placeholder="0" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                            <label>Amount <span class="required-indicator">*</span></label>
                                            <input type="text" 
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                name="amount" min="0.01" class="form-control amount"
                                                placeholder="0" readonly>
                                    </div>

                                    <div class="col-md-1 btn-group mb-4 text-center">
                                        <button type="button" class="btn remove_btn m-1">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>`

            $('#table_form').append(text_inp);
            $('.item_id').select2({
                placeholder: "Select Item",
                templateResult: function(option) {
                    if(option.element && (option.element).hasAttribute('hidden')){
                        return null;
                    }
                    return option.text;
                }
            });
            renderTotalAmount()          
            callback()         
        });

    $(document).on('click', '.remove_btn', function () {
        $(this).parents().closest('.content_parent').remove();
        renderTotalAmount()
        callback()
    });

    function callMaterialIssue(){
        var store_id = $('select#store_id option:selected').val()
        var job_order_id = $('select#job_order_id option:selected').val()
        $('#vendor_name').val("")
        $('.vendor_id').val("")
        $.ajax({
            url: "{% url 'api:jobOrderDetails' %}?header_id="+job_order_id+ "&direction=outgoing",
            type: 'GET',
            data: ({}),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    $('#submit').removeAttr('hidden') 
                    $('#tAmount').removeAttr('hidden')
                    console.log(response.job_order_details);
                    
                    // If Job Order is third party manufacturing
                    if(response.job_order_header_detail[0].manufacturing_type=="Third party"){
                        $('#vendor_name').val(response.job_order_header_detail[0].vendor__name)
                        $('.vendor_id').val(response.job_order_header_detail[0].vendor_id)
                        $('#table_form').html(`<p></p>`);

                        // If Job Order is with item
                        if(response.job_order_header_detail[0].with_item=="True"){                         
                            // looping through all job order details of the selected job order
                            for(let index=0 ; index<response.job_order_details.length; index++){
                                var text_inp = `
                                    <div class="form-row content_parent">
                                        <input type="hidden" class="job_order_detail_id" name="job_order_detail_id" value="${response.job_order_details[index].id}">
                                        <div class="col-md-3 mb-3">
                                            <label>Item<span class="required-indicator">*</span></label>
                                            <input type="hidden" class="item_id" name="item_id" value="${response.job_order_details[index].item_id}">
                                            <input type="text" class="form-control item_name" name="item_name" value="${response.job_order_details[index].item__name}"  readonly required>
                                        </div>

                                        <div class="col-md-2 mb-3">
                                            <label>Actual quantity <span class="required-indicator">*</span></label>
                                            <input type="text" 
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                name="actual_quantity" min="0.01" class="form-control actual_quantity"
                                                placeholder="0" readonly>
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <label>Job quantity <span class="required-indicator">*</span></label>
                                            <input type="text" 
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                name="job_quantity" min="0.01" class="form-control job_quantity" value ="${+response.job_order_details[index].quantity}"
                                                placeholder="0" readonly>
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <label>Job required quantity <span class="required-indicator">*</span></label>
                                            <input type="text" 
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                name="required_quantity" min="0.01" class="form-control required_quantity" value ="${+response.job_order_details[index].required_quantity}"
                                                placeholder="0" readonly>
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <label>Quantity Sent <span class="required-indicator">*</span></label>
                                            <input type="text" onkeyup="checkMaxMin(this)"
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                name="quantity_sent" min="0" class="form-control quantity_sent"
                                                placeholder="0" required>
                                        </div>

                                        <div class="col-md-1 mb-3">
                                            <label>Rate <span class="required-indicator">*</span></label>
                                            <input type="text" 
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                name="rate" min="0.01" class="form-control rate" value="${+response.job_order_details[index].item__price}"
                                                 readonly>
                                        </div>

                                        <div class="col-md-2 mb-3">
                                            <label>Amount <span class="required-indicator">*</span></label>
                                            <input type="text" 
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                name="amount" min="0.01" class="form-control amount"
                                                placeholder="0" readonly>
                                        </div>
                                    </div>
                                    `
                                
                                $('#table_form').append(text_inp);
                            }

                        }

                        // If Job Order is without item
                        else{
                            var text_inp = `<div class="form-row content_parent">
                                    <div class="col-md-3 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <div class="input-group">
                                            <select class="custom-select selectpicker item_id" name="item_id" required>
                                                ${item_options_text}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1 mb-3">
                                            <label>Rate <span class="required-indicator">*</span></label>
                                            <input type="text" 
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                name="rate" min="0.01" class="form-control rate"
                                                placeholder="0" readonly>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Actual quantity <span class="required-indicator">*</span></label>
                                        <input type="text" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="actual_quantity" min="0.01" class="form-control actual_quantity"
                                            placeholder="0" readonly>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Quantity Sent <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="quantity_sent" min="0" class="form-control quantity_sent"
                                            placeholder="0" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                            <label>Amount <span class="required-indicator">*</span></label>
                                            <input type="text" 
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                name="amount" min="0.01" class="form-control amount"
                                                placeholder="0" readonly>
                                    </div>

                                    <div class="col-md-1 btn-group mb-4 text-center">
                                        <button type="button" class="btn add_btn m-1">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>`
                            $('#table_form').html(text_inp);
                            $('.item_id').select2({
                                placeholder: "Select Item",
                                templateResult: function(option) {
                                    if(option.element && (option.element).hasAttribute('hidden')){
                                        return null;
                                    }
                                    return option.text;
                                }
                            });  
                        }
                        
                        
                    }
                    
                    // If Job Order is self manufacturing
                    else{
                        // var text_inp = `<div class="form-row content_parent">
                        //             <div class="col-md-3 mb-3">
                        //                 <label>Item<span class="required-indicator">*</span></label>
                        //                 <div class="input-group">
                        //                     <select class="custom-select selectpicker item_id" name="item_id" required>
                        //                         ${item_options_text}
                        //                     </select>
                        //                 </div>
                        //             </div>

                        //             <div class="col-md-3 mb-3">
                        //                 <label>Actual quantity <span class="required-indicator">*</span></label>
                        //                 <input type="text" 
                        //                     onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                        //                     name="actual_quantity" min="0.01" class="form-control actual_quantity"
                        //                     placeholder="0" readonly>
                        //             </div>
                        //             <div class="col-md-1 mb-3">
                        //                     <label>Rate <span class="required-indicator">*</span></label>
                        //                     <input type="text" 
                        //                         onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                        //                         name="rate" min="0.01" class="form-control rate"
                        //                         placeholder="0" readonly>
                        //             </div>

                        //             <div class="col-md-3 mb-3">
                        //                 <label>Quantity Sent <span class="required-indicator">*</span></label>
                        //                 <input type="text" onkeyup="checkMaxMin(this)"
                        //                     onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                        //                     name="quantity_sent" min="0" class="form-control quantity_sent"
                        //                     placeholder="0" required>
                        //             </div>
                        //             <div class="col-md-3 mb-3">
                        //                     <label>Amount <span class="required-indicator">*</span></label>
                        //                     <input type="text" 
                        //                         onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                        //                         name="amount" min="0.01" class="form-control amount"
                        //                         placeholder="0" readonly>
                        //             </div>

                        //             <div class="col-md-1 btn-group mb-4 text-center">
                        //                 <button type="button" class="btn add_btn m-1">
                        //                     <i class="fa fa-plus"></i>
                        //                 </button>
                        //             </div>
                        //         </div>`
                        $('#table_form').html(`<p></p>`);
                        // looping through all job order details of the selected job order
                        var text_inp =``
                        for(let index=0 ; index<response.job_order_details.length; index++){
                            text_inp += `
                                <div class="form-row content_parent">
                                    <input type="hidden" class="job_order_detail_id" name="job_order_detail_id" value="${response.job_order_details[index].id}">
                                    <div class="col-md-3 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <input type="hidden" class="item_id" name="item_id" value="${response.job_order_details[index].item_id}">
                                        <input type="text" class="form-control item_name" name="item_name" value="${response.job_order_details[index].item__name}"  readonly required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Actual quantity <span class="required-indicator">*</span></label>
                                        <input type="text" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="actual_quantity" min="0.01" class="form-control actual_quantity"
                                            placeholder="0" readonly>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Job quantity <span class="required-indicator">*</span></label>
                                        <input type="text" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="job_quantity" min="0.01" class="form-control job_quantity" value ="${+response.job_order_details[index].quantity}"
                                            placeholder="0" readonly>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Job required quantity <span class="required-indicator">*</span></label>
                                        <input type="text" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="required_quantity" min="0.01" class="form-control required_quantity" value ="${+response.job_order_details[index].required_quantity}"
                                            placeholder="0" readonly>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Quantity Sent <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="quantity_sent" min="0" class="form-control quantity_sent"
                                            placeholder="0" required>
                                    </div>

                                    <div class="col-md-1 mb-3">
                                        <label>Rate <span class="required-indicator">*</span></label>
                                        <input type="text" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="rate" min="0.01" class="form-control rate" value="${+response.job_order_details[index].item__price}"
                                                readonly>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Amount <span class="required-indicator">*</span></label>
                                        <input type="text" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="amount" min="0.01" class="form-control amount"
                                            placeholder="0" readonly>
                                    </div>
                                </div>
                                `
                            $('.item_id').select2({
                                placeholder: "Select Item",
                                templateResult: function(option) {
                                    if(option.element && (option.element).hasAttribute('hidden')){
                                        return null;
                                    }
                                    return option.text;
                                }
                            });
                            // $('#table_form').append(text_inp);
                        }

                        $('#table_form').html(text_inp);
                            
                    }
                    renderTotalAmount()
                } 
                else {
                    alert("res not found");
                }
            },
            complete: function(response){
                fill_up_actual_quantity()
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });

        $(document).on('submit', '#create_form', function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        let allZero = $('.quantity_sent').get().every(el => el.value === '0');
        if (allZero){
            alert("All quantity sent values cannot be zero")
        }
        else{
            $('.submit-btn').text('Submitting...');
            $('.submit-btn').prop('disabled', true);
            var formData = new FormData(create_form);
            $.ajax({
                type: "POST",
                evalScripts: true,
                contentType: false,
                processData: false,
                url: "{% url 'api:materialIssueAdd' %}",
                data: formData,
                headers: {
                    'Authorization': getCookieValue("accessToken")
                },
                success: function (response) {
                    $('.submit-btn').text('Submitting...');
                    $('.submit-btn').prop('disabled', false);
                    if (response.status == 200) {
                        // alert(response.message);
                        locationAfterMessageStore(response.message, 'success', "{% url 'superuser:materialIssueList' %}");
                        
                    } else {
                        alert(response.message);
                    }
                },
                error: function (error) {
                    $('.submit-btn').text('Submitting...');
                    $('.submit-btn').prop('disabled', false);
                    // locationAfterMessageStore(error.responseJSON.detail, 'error');
                    $('.success-msg-txt').text("");
                    $('.error-msg-txt').removeClass('text-secondary').removeClass('text-info').removeClass('text-success').removeClass('text-warning').removeClass('text-danger');
                    $('.error-msg-txt').addClass('text-danger');
                    $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                }
        });
        }
    });
    
}

    function fill_up_actual_quantity(){
        let store_id=$("#store_id").val()
        $("#table_form").children(".content_parent").each(function(){
            let actual_quantity_element=$(this).find(".actual_quantity")
            let quantity_sent_element = $(this).find('.quantity_sent')
            let item_id=$(this).find(".item_id").val()
            if(item_id && store_id){
                $.ajax({
                    url: "{% url 'api:getActualQuantity' %}?",
                    type: 'GET',
                    data: ({
                        'item_id':item_id,
                        'store_id':store_id
                    }),
                    headers: {
                        'Authorization': getCookieValue("accessToken")
                    },
                    success: function (response) {
                        if (response.status == 200) {                          
                            actual_quantity_element.val(+response.actual_quantity);
                            quantity_sent_element.attr('max',+response.actual_quantity)
                        } 
                        else {
                            alert(response.message);
                        }
                    },
                    error: function (error) {
                        $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                    }
                });
            }
        })
    }

    function checkMaxMin(element) {
        if ($(element).val() == "") {
            $(element).val($(element).attr('min'));
        } else {
            if (parseFloat($(element).attr('max')) < parseFloat($(element).val())) {
                $(element).val($(element).attr('max'));
            }
            if (parseFloat($(element).attr('min')) > parseFloat($(element).val())) {
                $(element).val($(element).attr('min'));
            }
        }
        
        if(parseFloat($(element).val())>parseFloat($(element).closest('.content_parent').find('.required_quantity').val())){
            alert('Sent quantity is more than required job quantity')
            $(element).val("")
        }
    }
    
    $(document).on('change keyup','.quantity_sent ',function(){
        // console.log("hi");
        let sum = 0 
        let amount , rate , quantitysent
        quantitysent = parseFloat($(this).val())
        rate = parseFloat($(this).closest('.content_parent').find('.rate').val())
        amount = rate * quantitysent
        $(this).closest('.content_parent').find('.amount').val(amount)
        renderTotalAmount()
    })


</script>

{% endblock js %}