{% extends 'portal/base.html' %}
{% load static %}
{% load template_func %}

{% block css %}
{% endblock %}

{% block content %}
<!-- main wrapper div content -->
<div class="wrapper">

    <!--================================-->
    <!-- Breadcrumb Start -->
    <!--================================-->
    <div class="pageheader pd-t-25 pd-b-35">
        <div class="d-flex justify-content-between">
            <div class="clearfix">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 tx-20 tx-dark">{{parent_page_title}} {{page_title}}</h1>
                </div>
                <div class="breadcrumb pd-0 mg-0">
                    {% for breadcrumb in breadcrumbs %}
                    {% if forloop.counter != breadcrumbs|length %}
                    <a class="breadcrumb-item" href="{{breadcrumb.url}}">{{breadcrumb.name}}</a>
                    {% else %}
                    <span class="breadcrumb-item active">{{breadcrumb.name}}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row row-xs clearfix">
        <div class="col-md-12 col-lg-12">
            {% if messages %}
            {% for message in messages %}
            {% if forloop.counter == messages|length %}
            <div class="{{ message.tags }} success-msg-txt" style="height: 30px; text-align: center;">{{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="card mg-b-30">
                <!-- upper header of form -->
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-header-title tx-13 mb-0">{{parent_page_title}} {{page_title}}</h6>
                        </div>
                        <div class="text-right">
                            <div class="d-flex">
                                <a href="{% url 'superuser:purchaseBillList' %}" class="mr-3"><i
                                        class="fa fa-step-backward"></i></a>
                                <a href="" class="mr-3"><i class="ti-reload"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end upper header -->
                <!-- main form  -->
                <div class="card-body ">
                    <form id="create_form" class="needs-validation" novalidate enctype="multipart/form-data">
                        <div class="form-row">
                            
                            <div class="col-md-3 mb-3">
                                <label>Vendor/Supplier<span class="required-indicator">*</span></label>
                                <select class="custom-select selectpicker" id="vendor" name="vendor" required>
                                    <option value="">Choose...</option>
                                    {% for vendor in Vendor_list %}
                                    <option {% if purchase_bill.vendor_id == vendor.pk %}selected{% endif %} value="{{vendor.pk}}">{{vendor.name}}</option>
                                    {% endfor %}
                                </select>
                                {% if request.user.is_superuser == 1 or 'add_vendor'|get_session_permission:request is not None %}
                                    <div class="btn float-end addForm" data-text="Add New Vendor"
                                        data-form="addVendor" id="addVendorModal" data-toggle="modal" data-target="#addFormModal">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-md-2 mb-3">
                                <label> Invoice  <span class="required-indicator">*</span></label>
                                <input type="text" name="invoice" class="form-control invoice" placeholder="Invoice No" value="{{purchase_bill.invoice_no}}"
                                >
                            </div>
                            

                            <div class="col-md-2 mb-3">
                                <label> Transaction  Date <span class="required-indicator">*</span></label>
                                <input type="date" name="issue_date" class="form-control issue_date" value="{{purchase_bill.transaction_date|date:'Y-m-d'}}"
                               >
                            </div>

                            <div class="col-md-2 mb-3">
                                <label> E-Way No <span class="required-indicator">*</span></label>
                                <input type="text" name="e_way" class="form-control e_way" value="{{purchase_bill.e_way_no}}"
                                required>
                            </div>

                            <div class="col-md-2 mb-3">
                                <label> E-Way  Date <span class="required-indicator">*</span></label>
                                <input type="date" name="e_way_date" class="form-control e_way_date" value="{{purchase_bill.e_way_date|date:'Y-m-d'}}"
                                required>
                            </div>

                            <div class="col-md-2 mb-3">
                                <label> Vehicle No <span class="required-indicator">*</span></label>
                                <input type="text" name="vehicle_no" class="form-control Vehicle_no" value="{{purchase_bill.vechical_no}}"
                                required>
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-1 btn-group mb-4 text-center">
                                <button type="button" class="btn add_btn m-1 top_add">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-md-12" style="border-bottom: 1px solid gray;border-top: 1px solid gray;" id="table_form" >
                                {% for purchaseBillDet in purchase_bill.purchase_bill_details_set.all %}
                                <div class="form-row content_parent">
                                    <div class="col-md-3 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <select class="custom-select selectpicker item_id" name="item_id" required>
                                            <option value="">Choose...</option>
                                            {% for item in items %}
                                            <option {% if purchaseBillDet.item_id == item.pk %}selected{% endif %} value="{{item.pk}}">{{item.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>HSN/SAC <span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control hsn" name="hsn" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" value="{{purchaseBillDet.hsn_code}}" required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Rate<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control rate" name="rate"  onkeyup="checkMaxMin(this)"
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" min="0.01" value="{{purchaseBillDet.rate}}" required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Quantity<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control quantity" name="quantity"  onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" min="0.01" value="{{purchaseBillDet.quantity}}"  required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>UOM<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control uom" name="uom" value="{{purchaseBillDet.uom.name}}" readonly required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Amount<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount" name="amount" value="{{purchaseBillDet.amount}}" readonly required>
                                    </div>
                                    {% if purchaseBillDet.igst_percentage != 0.00 %}
                                    <div class="col-md-2 mb-3">
                                        <label>IGST% <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="igst" min="0.01" class="form-control igst gst"
                                            placeholder="0.00" value="{{purchaseBillDet.igst_percentage}}" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Amount Igst<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount_igst" name="amount_igst" value="{{purchaseBillDet.igst_amount}}"  readonly required>
                                    </div>
                                    {% else %}
                                    <div class="col-md-2 mb-3">
                                        <label>SGST% <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="sgst" min="0.01" class="form-control sgst gst"
                                            placeholder="0.00" value="{{purchaseBillDet.sgst_percentage}}" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Amount Sgst<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount_sgst" name="amount_sgst" value="{{purchaseBillDet.sgst_amount}}"  readonly  required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>CGST% <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="cgst" min="0.01" class="form-control cgst gst"
                                            placeholder="0.00" value="{{purchaseBillDet.cgst_percentage}}" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Amount Cgst<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount_cgst" name="amount_cgst" value="{{purchaseBillDet.cgst_amount}}" readonly required >
                                    </div>

                                    {% endif %}
                                    <div class="col-md-2 mb-3">
                                        <label>Total Amount<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount_gst" name="amount_gst" value="{{purchaseBillDet.amount_with_gst}}"  readonly required>
                                    </div>

                                    
                                    <div class="col-md-1 btn-group mb-4 text-center">
                                        <button type="button" class="btn remove_btn m-1">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-2 mb-3 table_form" >
                                <label>Total<span class="required-indicator">*</span></label>
                                <input type="text" class="form-control total_amount" name="total" id="total_amount" value="{{purchase_bill.total_amount}}" readonly required>
                            </div>
                            <div class="col-md-2 mb-3 table_form" >
                                <label>Total igst<span class="required-indicator">*</span></label>
                                <input type="text" class="form-control total_igst" name="total_igst" id="total_igst" value ="{{purchase_bill.total_igst}}" readonly required>
                            </div>
                            <div class="col-md-2 mb-3 table_form" >
                                <label>Total sgst<span class="required-indicator">*</span></label>
                                <input type="text" class="form-control total_sgst" name="total_sgst" id="total_sgst" value="{{purchase_bill.total_sgst}}" readonly required>
                            </div>
                            <div class="col-md-2 mb-3 table_form" >
                                <label>Total cgst<span class="required-indicator">*</span></label>
                                <input type="text" class="form-control total_cgst" name="total_cgst" id="total_cgst" value="{{purchase_bill.total_cgst}}" readonly required>
                            </div>
                            <div class="col-md-2 mb-3 table_form" >
                                <label>Total amount with gst<span class="required-indicator">*</span></label>
                                <input type="text" class="form-control total_amount_with_gst" name="total_amount_with_gst" value="{{purchase_bill.total_gst_amount}}" id="total_amount_with_gst" readonly required>
                            </div>
                            <div class="col-md-12  table_form"  >
                                <label>Notes</label>
                                <textarea name="notes" rows="5" class="form-control note" placeholder="Note" required>{{purchase_bill.notes}}</textarea>
                            </div>
                            <div class="col-md-12  table_form"  >
                                <br>
                            </div>


                            <div class="col-md-12" id="submit" >
                                <button onclick="return confirm('Please check the form again before submitting. It can not be changed')" class="btn btn-success submit-btn" type="submit">Submit</button>
                            </div>


                        </div>
                    </form>
                </div>
                <!-- end main form -->
            </div>
        </div>
    </div>

</div>
<!-- end main wrapper div -->

{% endblock %}

{% block js %}
<!-- script -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    
    $('.selectpicker').select2({
        placeholder: '',
        templateResult: function(option) {
            if(option.element && (option.element).hasAttribute('hidden')){
                return null;
            }
            return option.text;
        }
    });
</script>

<script>
    var item_options_text =``
    var page_item_len = 0
    var state_name = ''
    var sum = 0
    var item_options_used_pk = [];
  
    function clearAll(){
        $('#total_amount').val(0)
        $('#total_igst').val(0)
        $('#total_sgst').val(0)
        $('#total_cgst').val(0)
        $('.total_amount_with_gst').val(0)
    }

    function renderItemDropdown(){
        $('.item_id').each(function(){
            let selected_item_id=$(this).val()
            $(this).children("option").each(function(index, element){
                if($(this).val()!==selected_item_id && item_options_used_pk.includes($(this).val()) ){
                    $(this).prop("hidden",true)
                }
                else{
                    $(this).prop("hidden",false)
                }
            })
        })
    }
   
    $(document).on('keyup','.quantity , .rate',function(){
        // console.log("722");
        let quantity = parseFloat($(this).parent().closest('.content_parent').find('.quantity').val())
            let rate = parseFloat($(this).parent().closest('.content_parent').find('.rate').val())
            let amount = quantity?(quantity * rate) : 0.00

            $(this).parent().closest('.content_parent').find('.amount').val(amount).trigger('change')
            renderTotalAmount()

    })
  
    function update_item_options_used_pk(){
        item_options_used_pk=[]
        $('.item_id').each(function(){
            item_options_used_pk.push($(this).val())
        }); 
    }

    function callback(){
        var callbacks = $.Callbacks();
        callbacks.add(update_item_options_used_pk);
        callbacks.fire();
        callbacks.add(renderItemDropdown);
        callbacks.fire();
        
        $('.selectpicker').select2({
            placeholder: '',
            templateResult: function(option) {
                if(option.element && (option.element).hasAttribute('hidden')){
                    return null;
                }
                return option.text;
            }
        });
    }
    
    function renderTotalAmountWithGst(){
        let total_amount_with_gst=0;
        $('.amount_gst').each(function(){
            if($(this).val()){
                total_amount_with_gst += parseFloat($(this).val())
            }
        })

        $('.total_amount_with_gst').val(total_amount_with_gst)
    }
    
    function renderTotalIgst(){
        let total_igst=0;
        $('.amount_igst').each(function(){
            if($(this).val()){
                total_igst += parseFloat($(this).val())
            }
        })

        $('.total_igst').val(total_igst)
    }
    
    function renderTotalCgst(){
        let total_cgst=0;
        $('.amount_cgst').each(function(){
            if($(this).val()){
                total_cgst += parseFloat($(this).val())
            }
        })

        $('.total_cgst').val(total_cgst)
    }
    
    function renderTotalSGst(){
        let total_sgst=0;
        $('.amount_sgst').each(function(){
            if($(this).val()){
                total_sgst += parseFloat($(this).val())
            }
        })

        $('.total_sgst').val(total_sgst)
    }

    function renderTotalAmount(){
        let total_amount=0;
        $('.amount').each(function(){
            if($(this).val()){
                total_amount += parseFloat($(this).val())
            }
        })

        $('.total_amount').val(total_amount)
    }

    $(document).ready(function(){
        $("#issue_date").val(new Date().toISOString().slice(0, 10))
        $("#e_way_date").val(new Date().toISOString().slice(0, 10))
        $.ajax({
            url: "{% url 'api:itemList' %}?find_all=1",
            type: 'GET',
            data: ({}),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    item_options_text += `<option value="">Choose item</option>`;
                    for (let index = 0; index < response.page_items.length; index++) {
                        item_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].name}</option>`;
                    }
                    $('.selectpicker').select2({
                        placeholder: '',
                        templateResult: function(option) {
                            if(option.element && (option.element).hasAttribute('hidden')){
                                return null;
                            }
                            return option.text;
                        }
                    });
                } 
                else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    
    })
    
    // $(document).on('change','#vendor',function(){
             
    //        $('.top_add').attr('hidden',true)
    //         $('#table_form').html(``)
    //         let vendorId = $('select#vendor option:selected').val()
            
    //         console.log(vendorId);

    //         $.ajax({
    //         url: "{% url 'api:vendorList' %}?id="+vendorId ,
    //         type: 'GET',
    //         data: ({ }),
    //         headers: {
    //             'Authorization': getCookieValue("accessToken")
    //         },
    //         success: function (response) {
    //             if (response.status == 200) {
    //                 $('#submit').removeAttr('hidden')
    //                 $('#totalAmount').removeAttr('hidden')
    //                 let text_inp = ``
    //                 state_name = response.page_items[0].state__name
    //                 // console.log(response.page_items[0].state__name == );
    //                 if(state_name == 'West Bengal'){
    //                     // cgst igst
    //                     $('#sameState').val("0")
    //                     text_inp =`<div class="form-row content_parent">
    //                                         <div class="col-md-3 mb-3">
    //                                             <label>Item<span class="required-indicator">*</span></label>
    //                                             <div class="input-group">
    //                                                 <select class="custom-select selectpicker item_id" name="item_id" required>
    //                                                     ${item_options_text}
    //                                                 </select>
    //                                                 {% if request.user.is_superuser == 1 or 'add_item'|get_session_permission:request is not None %}
    //                                                     <div class="btn float-end addForm" data-text="Add New item"
    //                                                             data-form="addItem" id="addItem"  data-toggle="modal" data-target="#addFormModal">
    //                                                             <i class="fa fa-plus"></i>
    //                                                     </div>
    //                                                 {% endif %}
    //                                             </div>
    //                                         </div>
    //                                         <div class="col-md-2 mb-3">
    //                                             <label>HSN/SAC<span class="required-indicator">*</span></label>
    //                                             <input type="text" class="form-control hsn" name="hsn"  onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" placeholder="Hsn/SAC No" required>
    //                                         </div>

    //                                         <div class="col-md-2 mb-3">
    //                                             <label>Rate<span class="required-indicator">*</span></label>
    //                                             <input type="text" class="form-control rate" name="rate"  onkeyup="checkMaxMin(this)"
    //                                             onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" min="0.01" required>
    //                                         </div>

    //                                         <div class="col-md-2 mb-3">
    //                                             <label>Quantity<span class="required-indicator">*</span></label>
    //                                             <input type="text" class="form-control quantity" name="quantity"  onkeyup="checkMaxMin(this)"
    //                                             onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" min="0.01" required>
    //                                         </div>

    //                                         <div class="col-md-2 mb-3">
    //                                             <label>UOM<span class="required-indicator">*</span></label>
    //                                             <input type="text" class="form-control uom" name="uom"  readonly required>
    //                                         </div>
    //                                         <div class="col-md-2 mb-3">
    //                                             <label>Amount<span class="required-indicator">*</span></label>
    //                                             <input type="text" class="form-control amount" name="amount"  readonly required>
    //                                         </div>

    //                                         <div class="col-md-2 mb-3">
    //                                             <label>IGST% <span class="required-indicator">*</span></label>
    //                                             <input type="text" onkeyup="checkMaxMin(this)"
    //                                                 onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
    //                                                 name="igst" min="0.01" class="form-control igst gst"
    //                                                 placeholder="0.00" disabled>
    //                                         </div>
    //                                         <div class="col-md-2 mb-3">
    //                                             <label>Amount Igst<span class="required-indicator">*</span></label>
    //                                             <input type="text" class="form-control amount_igst" name="amount_igst"  readonly disabled>
    //                                         </div>
    //                                         <div class="col-md-2 mb-3">
    //                                             <label>SGST% <span class="required-indicator">*</span></label>
    //                                             <input type="text" onkeyup="checkMaxMin(this)"
    //                                                 onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
    //                                                 name="sgst" min="0.01" class="form-control sgst gst"
    //                                                 placeholder="0.00" required>
    //                                         </div>
    //                                         <div class="col-md-2 mb-3">
    //                                             <label>Amount Sgst<span class="required-indicator">*</span></label>
    //                                             <input type="text" class="form-control amount_sgst" name="amount_sgst"  readonly required>
    //                                         </div>
    //                                         <div class="col-md-2 mb-3">
    //                                             <label>CGST% <span class="required-indicator">*</span></label>
    //                                             <input type="text" onkeyup="checkMaxMin(this)"
    //                                                 onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
    //                                                 name="cgst" min="0.01" class="form-control cgst gst"
    //                                                 placeholder="0.00" required>
    //                                         </div>
    //                                         <div class="col-md-2 mb-3">
    //                                             <label>Amount Cgst<span class="required-indicator">*</span></label>
    //                                             <input type="text" class="form-control amount_cgst" name="amount_cgst"  readonly required>
    //                                         </div>
    //                                         <div class="col-md-2 mb-3">
    //                                             <label>Total Amount<span class="required-indicator">*</span></label>
    //                                             <input type="text" class="form-control amount_gst" name="amount_gst"  readonly required>
    //                                         </div>
                                           
    //                                         <div class="col-md-1 btn-group mb-4 text-center">
    //                                             <button type="button" class="btn add_btn m-1">
    //                                                 <i class="fa fa-plus"></i>
    //                                             </button>
    //                                         </div>
    //                                     </div>`
    //                 }
    //                 else{
    //                     // console.log("256");
    //                     $('#sameState').val("1")
    //                     text_inp =`<div class="form-row content_parent">
    //                                         <div class="col-md-3 mb-3">
    //                                             <label>Item<span class="required-indicator">*</span></label>
    //                                             <div class="input-group">
    //                                                 <select class="custom-select selectpicker item_id" name="item_id" required>
    //                                                     ${item_options_text}
    //                                                 </select>
    //                                             </div>
    //                                         </div>
        
    //                                 <div class="col-md-2 mb-3">
    //                                     <label>HSN/SAC<span class="required-indicator">*</span></label>
    //                                     <input type="text" class="form-control hsn" name="hsn" onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" placeholder="Hsn/SAC No"  required>
    //                                 </div>

    //                                 <div class="col-md-2 mb-3">
    //                                     <label>Rate<span class="required-indicator">*</span></label>
    //                                     <input type="text" class="form-control rate" name="rate"  onkeyup="checkMaxMin(this)"
    //                                             onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" min="0.01" required>
    //                                 </div>

    //                                 <div class="col-md-2 mb-3">
    //                                     <label>Quantity<span class="required-indicator">*</span></label>
    //                                     <input type="text" class="form-control quantity" name="quantity"  onkeyup="checkMaxMin(this)"
    //                                         onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" min="0.01" required>
    //                                 </div>

    //                                 <div class="col-md-2 mb-3">
    //                                     <label>UOM<span class="required-indicator">*</span></label>
    //                                     <input type="text" class="form-control uom" name="uom"  readonly required>
    //                                 </div>
    //                                 <div class="col-md-2 mb-3">
    //                                     <label>Amount<span class="required-indicator">*</span></label>
    //                                     <input type="text" class="form-control amount" name="amount"  readonly required>
    //                                 </div>

    //                                 <div class="col-md-2 mb-3">
    //                                     <label>IGST% <span class="required-indicator">*</span></label>
    //                                     <input type="text" onkeyup="checkMaxMin(this)"
    //                                         onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
    //                                         name="igst" min="0.01" class="form-control igst gst"
    //                                         placeholder="0.00" required>
    //                                 </div>
    //                                 <div class="col-md-2 mb-3">
    //                                     <label>Amount Igst<span class="required-indicator">*</span></label>
    //                                     <input type="text" class="form-control amount_igst" name="amount_igst"  readonly required>
    //                                 </div>
    //                                 <div class="col-md-2 mb-3">
    //                                     <label>SGST% <span class="required-indicator">*</span></label>
    //                                     <input type="text" onkeyup="checkMaxMin(this)"
    //                                         onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
    //                                         name="sgst" min="0.01" class="form-control sgst gst"
    //                                         placeholder="0.00"  disabled>
    //                                 </div>
    //                                 <div class="col-md-2 mb-3">
    //                                     <label>Amount Sgst<span class="required-indicator">*</span></label>
    //                                     <input type="text" class="form-control amount_sgst" name="amount_sgst"  readonly disabled>
    //                                 </div>
    //                                 <div class="col-md-2 mb-3">
    //                                     <label>CGST% <span class="required-indicator">*</span></label>
    //                                     <input type="text" onkeyup="checkMaxMin(this)"
    //                                         onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
    //                                         name="cgst" min="0.01" class="form-control cgst gst"
    //                                         placeholder="0.00" disabled>
    //                                 </div>
    //                                 <div class="col-md-2 mb-3">
    //                                     <label>Amount Cgst<span class="required-indicator">*</span></label>
    //                                     <input type="text" class="form-control amount_cgst" name="amount_cgst"  readonly disabled>
    //                                 </div>
    //                                 <div class="col-md-2 mb-3">
    //                                     <label>Total Amount<span class="required-indicator">*</span></label>
    //                                     <input type="text" class="form-control amount_gst" name="amount_gst"  readonly required>
    //                                 </div>
                                            
    //                                 <div class="col-md-1 btn-group mb-4 text-center">
    //                                     <button type="button" class="btn add_btn m-1">
    //                                         <i class="fa fa-plus"></i>
    //                                     </button>
    //                                 </div>
    //                             </div>`
    //                 }
    //             $('#table_form').html(text_inp)
    //             clearAll()
    //             $('.selectpicker').select2({
    //             placeholder: '',
    //             templateResult: function(option) {
    //                 if(option.element && (option.element).hasAttribute('hidden')){
    //                     return null;
    //                 }
    //                 return option.text;
    //             }
    //         });
    //                 // console.log(item_options_text,"saswata");
    //             } 
    //             else {
    //                 alert(response.message);
    //             }
    //         },
    //         error: function (error) {
    //                 $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
    //             }
    //         });
            
    //         // console.log(item_options_text,"saswata");
          
    //     })
        

    $(document).on('click','.add_btn',function(){
        let text_inp = ``
        if(state_name == 'West Bengal'){
            // cgst igst
            console.log();
            text_inp =`<div class="form-row content_parent">
                                    <div class="col-md-3 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <div class="input-group">
                                            <select class="custom-select selectpicker item_id" name="item_id" required>
                                                ${item_options_text}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>HSN/SAC<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control hsn" name="hsn" onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" placeholder="Hsn/SAC No"  required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Rate<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control rate" name="rate"  onkeyup="checkMaxMin(this)"
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" min="0.01" required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Quantity<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control quantity" name="quantity"  onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" min="0.01" required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>UOM<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control uom" name="uom"  readonly required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Amount<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount" name="amount"  readonly required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>IGST% <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="igst" min="0.01" class="form-control igst gst"
                                            placeholder="0.00"  disabled>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Amount Igst<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount_igst" name="amount_igst"  readonly disabled>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>SGST% <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="sgst" min="0.01" class="form-control sgst gst"
                                            placeholder="0.00" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Amount Sgst<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount_sgst" name="amount_sgst"  readonly required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>CGST% <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="cgst" min="0.01" class="form-control cgst gst"
                                            placeholder="0.00" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Amount Cgst<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount_cgst" name="amount_cgst"  readonly required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Total Amount<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount_gst" name="amount_gst"  readonly required>
                                    </div>

                                    <div class="col-md-1 btn-group mb-4 text-center">
                                        <button type="button" class="btn remove_btn m-1">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>`
        }
        else{
            //igst
            text_inp =`<div class="form-row content_parent">
                                    <div class="col-md-3 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <div class="input-group">
                                            <select class="custom-select selectpicker item_id" name="item_id" required>
                                                ${item_options_text}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>HSN/SAC <span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control hsn" name="hsn" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" placeholder="Hsn/SAC No" required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Rate<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control rate" name="rate"  onkeyup="checkMaxMin(this)"
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" min="0.01" required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Quantity<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control quantity" name="quantity"  onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)" min="0.01"  required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>UOM<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control uom" name="uom"  readonly required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Amount<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount" name="amount"  readonly required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                    <label>IGST% <span class="required-indicator">*</span></label>
                                    <input type="text" onkeyup="checkMaxMin(this)"
                                        onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                        name="igst" min="0.01" class="form-control igst gst"
                                        placeholder="0.00"  required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Amount Igst<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount_igst" name="amount_igst"  readonly required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>SGST% <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="sgst" min="0.01" class="form-control sgst gst"
                                            placeholder="0.00" disabled>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Amount Sgst<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount_sgst" name="amount_sgst"  readonly disabled>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>CGST% <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="cgst" min="0.01" class="form-control cgst gst"
                                            placeholder="0.00" disabled>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Amount Cgst<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount_cgst" name="amount_cgst"  readonly disabled>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Total Amount<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control amount_gst" name="amount_gst"  readonly required>
                                    </div>
                                    
                                    <div class="col-md-1 btn-group mb-4 text-center">
                                        <button type="button" class="btn remove_btn m-1">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>`
        }        

        $('#table_form').append(text_inp);
        $('.selectpicker').select2({
                placeholder: '',
                templateResult: function(option) {
                    if(option.element && (option.element).hasAttribute('hidden')){
                        return null;
                    }
                    return option.text;
                }
            });              
            
        renderTotalAmountWithGst()
        renderTotalIgst()
        renderTotalCgst()
        renderTotalSGst()
        renderTotalAmount()
        callback()
    });

    $(document).on('click', '.remove_btn', function () {
        $(this).parents().closest('.content_parent').remove();

        renderTotalAmountWithGst()
        renderTotalIgst()
        renderTotalCgst()
        renderTotalSGst()
        renderTotalAmount()
        callback()
    });

    $(document).on('change','.item_id',function(){
        var valu = $(this).val()
        var parentDiv =  $(this).parents().closest('.content_parent');
        parentDiv.find('.quantity').val('')
        parentDiv.find('.amount').val('')
        parentDiv.find('.igst').val('')
        parentDiv.find('.amount_igst').val('')
        parentDiv.find('.sgst').val('')
        parentDiv.find('.cgst').val('')
        parentDiv.find('.amount_cgst').val('')
        parentDiv.find('.amount_gst').val('')

        $.ajax({
        url: "{% url 'api:itemList' %}?id="+valu ,
        type: 'GET',
        data: ({ }),
        headers: {
            'Authorization': getCookieValue("accessToken")
        },
        success: function (response) {
            if (response.status == 200) {
                // console.log(response.page_items[0].price);
                parentDiv.find('.rate').val(response.page_items[0].price);
                parentDiv.find('.uom').val(response.page_items[0].uom__name)
                
                
            } 
            else {
                alert(response.message);
            }
            
        },
        error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });

            
        renderTotalAmountWithGst()
        renderTotalIgst()
        renderTotalCgst()
        renderTotalSGst()
        renderTotalAmount()
            
        callback()
    })

    function checkMaxMin(element) {
        if ($(element).val() == "") {
            $(element).val($(element).attr('min'));
        } else {
            if (parseFloat($(element).attr('max')) < parseFloat($(element).val())) {
                $(element).val($(element).attr('max'));
            }
            if (parseFloat($(element).attr('min')) > parseFloat($(element).val())) {
                $(element).val($(element).attr('min'));
            }
        }

        if($(element).attr('class') == 'form-control quantity'){
            // let quantity = parseFloat($(element).parent().closest('.content_parent').find('.quantity').val())
            // let rate = parseFloat($(element).parent().closest('.content_parent').find('.rate').val())
            // let amount = quantity?(quantity * rate) : 0.00

            // $(element).parent().closest('.content_parent').find('.amount').val(amount).trigger('change')
        }
        // console.log($('#sameState').val(),"saswata");
    }

    $(document).on('submit', '#create_form', function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        // console.log("426");
        $('.submit-btn').text('Submitting...');
        $('.submit-btn').prop('disabled', true);
        var formData = new FormData(create_form);
        // console.log(formData.getAll('quantity_sent'))
        $.ajax({
            type: "POST",
            evalScripts: true,
            contentType: false,
            processData: false,
            url: "{% url 'api:purchaseBillDetailsAdd' %}",
            data: formData,
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                $('.submit-btn').text('Submitting...');
                $('.submit-btn').prop('disabled', false);
                if (response.status == 200) {
                    // alert(response.message);
                    locationAfterMessageStore(response.message, 'success', "{% url 'superuser:purchaseBillList' %}");
                    
                } else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.submit-btn').text('Submitting...');
                $('.submit-btn').prop('disabled', false);
                // locationAfterMessageStore(error.responseJSON.detail, 'error');
                $('.success-msg-txt').text("");
                $('.error-msg-txt').removeClass('text-secondary').removeClass('text-info').removeClass('text-success').removeClass('text-warning').removeClass('text-danger');
                $('.error-msg-txt').addClass('text-danger');
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    
    });
    
  
    $(document).on('change keyup','.gst, .amount',function(){
        sum = 0 
        let amount, gst, amount_gst=0 , amount_gst_per = 0,total_gst =0;
        amount = parseFloat($(this).closest('.content_parent').find('.amount').val())
        // console.log($(this).closest('.content_parent').find('.gst')[0].html(),"saswata");
        if(amount){
            $(this).closest('.content_parent').find('.gst').each(function(){
                if (parseFloat($(this).val())){
                    gst = parseFloat($(this).val())/100
                    amount_gst_per = amount*gst
                    total_gst+= amount_gst_per
                    $(this).parent().next().find('input').val(amount_gst_per)
                }
            });
            amount_gst= amount + total_gst
        }

        if(amount_gst){
            $(this).closest('.content_parent').find('.amount_gst').val(amount_gst)
        }

        renderTotalAmountWithGst()
        renderTotalIgst()
        renderTotalCgst()
        renderTotalSGst()
    })


</script>


{% endblock js %}