{% extends 'portal/base.html' %}
{% load template_func %}

{% block css %}
{% endblock %}

{% block content %}
<div class="wrapper">
    <!--================================-->
    <!-- Breadcrumb Start -->
    <!--================================-->
    <div class="pageheader pd-t-25 pd-b-35">
        <div class="d-flex justify-content-between">
            <div class="clearfix">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 tx-20 tx-dark">{{parent_page_title}} {{page_title}}</h1>
                </div>
                <div class="breadcrumb pd-0 mg-0">
                    {% for breadcrumb in breadcrumbs %}
                    {% if forloop.counter != breadcrumbs|length %}
                    <a class="breadcrumb-item" href="{{breadcrumb.url}}">{{breadcrumb.name}}</a>
                    {% else %}
                    <span class="breadcrumb-item active">{{breadcrumb.name}}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--/ Breadcrumb End -->
    <!--================================-->
    <!--================================-->
    <!-- Form Element Start -->
    <!--================================-->
    <div class="row row-xs clearfix">
        <div class="col-md-12 col-lg-12">
            {% if messages %}
            {% for message in messages %}
            {% if forloop.counter == messages|length %}
            <div class="{{ message.tags }} success-msg-txt" style="height: 30px; text-align: center;">{{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="error-msg-txt" style="height: 30px; text-align: center;"></div>
            <div class="card mg-b-30">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-header-title tx-13 mb-0">{{parent_page_title}} {{page_title}}</h6>
                        </div>
                        <div class="text-right">
                            <div class="d-flex">
                                <a href="{% url 'superuser:purchaseBillList' %}" class="mr-3"><i
                                        class="fa fa-step-backward"></i></a>
                                <a href="" class="mr-3"><i class="ti-reload"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pd-5">
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label>Vendor/Supplier<span class="required-indicator">*</span></label>
                            <input type="text" name="vendor" class="form-control vendor" value="{{purchase_bill.vendor.name}}"
                            readonly disabled>
                            <input type="hidden" class="form-control headerPk" name="headerPk" value="{{purchase_bill.id}}" readonly required>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label> Invoice  <span class="required-indicator">*</span></label>
                            <input type="text" name="invoice" class="form-control invoice" placeholder="Invoice No" value="{{purchase_bill.invoice_no}}"
                            readonly>
                        </div>
                        

                        <div class="col-md-2 mb-3">
                            <label> Transaction  Date <span class="required-indicator">*</span></label>
                            <input type="date" name="issue_date" class="form-control issue_date" value="{{purchase_bill.transaction_date|date:'Y-m-d'}}"
                            readonly>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label> E-Way No <span class="required-indicator">*</span></label>
                            <input type="text" name="e_way" class="form-control e_way" value="{{purchase_bill.e_way_no}}"
                            readonly>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label> E-Way  Date <span class="required-indicator">*</span></label>
                            <input type="date" name="e_way_date" class="form-control e_way_date" value="{{purchase_bill.e_way_date|date:'Y-m-d'}}"
                            readonly>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label> Vehicle No <span class="required-indicator">*</span></label>
                            <input type="text" name="vehicle_no" class="form-control Vehicle_no" value="{{purchase_bill.vechical_no}}"
                            readonly>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Amount</th>
                                    <th>Igst%</th>
                                    <th>Igst Amount</th>
                                    <th>Cgst%</th>
                                    <th>Cgst Amount</th>
                                    <th>Sgst%</th>
                                    <th>Sgst Amount</th>
                                    <th>Amount with Gst</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                                {% for purchaseBillDet in purchase_bill.purchase_bill_details_set.all %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{purchaseBillDet.item.name}}</td>
                                    <td>{{purchaseBillDet.quantity|floatformat}}</td>
                                    <td>{{purchaseBillDet.rate}}</td>
                                    <td>{{purchaseBillDet.amount}}</td>
                                    {% if purchaseBillDet.igst_percentage != 0.00  %}
                                    <td>{{purchaseBillDet.igst_percentage}}</td>
                                    <td>{{purchaseBillDet.igst_amount}}</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                    {% else %}
                                    <td>---</td>
                                    <td>---</td>
                                    <td>{{purchaseBillDet.cgst_percentage}}</td>
                                    <td>{{purchaseBillDet.cgst_amount}}</td>
                                    <td>{{purchaseBillDet.sgst_percentage}}</td>
                                    <td>{{purchaseBillDet.sgst_amount}}</td>
                                    {% endif %}
                                    <td>{{purchaseBillDet.amount_with_gst}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td> Total  </td>
                                    <td>  </td>
                                    <td>   </td>
                                    <td>-----</td>
                                    <td>{{purchase_bill.total_amount}}</td>
                                    <td>----</td>
                                    <td>{{purchase_bill.total_igst}}</td>
                                    <td>----</td>
                                    <td>{{purchase_bill.total_cgst}}</td>
                                    <td>---</td>
                                    <td>{{purchase_bill.total_sgst}}</td>
                                    <td>{{purchase_bill.total_gst_amount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12  table_form"  >
                            <label>Notes</label>
                            <textarea name="notes" rows="5" class="form-control note" placeholder="Note" readonly>{{purchase_bill.notes}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Form Element End -->
</div>
{% endblock %}

{% block js %}
{% endblock %}