{% extends 'portal/base.html' %}
{% load static %}
{% load template_func %}

{% block css %}
{% endblock %}

{% block content %}
<!-- main wrapper div content -->
<div class="wrapper">

    <!--================================-->
    <!-- Breadcrumb Start -->
    <!--================================-->
    <div class="pageheader pd-t-25 pd-b-35">
        <div class="d-flex justify-content-between">
            <div class="clearfix">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 tx-20 tx-dark">{{parent_page_title}} {{page_title}}</h1>
                </div>
                <div class="breadcrumb pd-0 mg-0">
                    {% for breadcrumb in breadcrumbs %}
                    {% if forloop.counter != breadcrumbs|length %}
                    <a class="breadcrumb-item" href="{{breadcrumb.url}}">{{breadcrumb.name}}</a>
                    {% else %}
                    <span class="breadcrumb-item active">{{breadcrumb.name}}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row row-xs clearfix">
        <div class="col-md-12 col-lg-12">
            {% if messages %}
            {% for message in messages %}
            {% if forloop.counter == messages|length %}
            <div class="{{ message.tags }} success-msg-txt" style="height: 30px; text-align: center;">{{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="card mg-b-30">
                <!-- upper header of form -->
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-header-title tx-13 mb-0">{{parent_page_title}} {{page_title}}</h6>
                        </div>
                        <div class="text-right">
                            <div class="d-flex">
                                <a href="{% url 'superuser:itemList' %}" class="mr-3"><i
                                        class="fa fa-step-backward"></i></a>
                                <a href="" class="mr-3"><i class="ti-reload"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end upper header -->
                <!-- main form  -->
                <div class="card-body">
                    <form id="create_form" class="needs-validation" novalidate enctype="multipart/form-data">
                        <div class="form-row">

                            <div class="col-md-2 mb-3">
                                <label>Store<span class="required-indicator">*</span></label>
                                <div class="input-group">
                                    <select class="custom-select selectpicker" id="store_id" name="store_id" required>
                                        <option value="">Choose...</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-2 mb-3 test ">
                                <label>Job Order No<span class="required-indicator">*</span></label>
                                <div class="input-group">
                                    <select class="custom-select selectpicker" id="job_Order_id" name="job_Order_id" required>
                                        <option value="">Choose...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label>vendor <span class="required-indicator">*</span></label>
                                <input type="text" id="vendor_name" name="vendor_name" class="form-control" placeholder=""
                                    readonly >
                                    <input type="hidden" class="vendor_id" name="vendor_id"  >
                                
                            </div>
                            <div class="col-md-2 mb-3">
                                <label>Material Issue No <span class="required-indicator">*</span></label>
                                <input type="text" name="material_issue_no_name" class="form-control material_issue_no_name" placeholder="material issue no"
                                required>
                            </div>

                            <div class="col-md-2 mb-3">
                                <label>Issue Date <span class="required-indicator">*</span></label>
                                <input type="date" name="issue_date" class="form-control issue_date" placeholder="Order Date"
                                required>
                            </div>

                            <div class="col-md-12" id="table_form">
                                
                            </div>
                            <div class="col-md-12" id="submit" hidden>
                                <button onclick="return confirm('Please check the form again before submitting. It can not be changed')" class="btn btn-success submit-btn" type="submit">Submit</button>
                            </div>


                        </div>
                    </form>
                </div>
                <!-- end main form -->
            </div>
        </div>
    </div>

</div>
<!-- end main wrapper div -->

{% endblock %}

{% block js %}
<!-- script -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
    
    var item_options_used_pk = [];
    var itemsData;

    //for job order no

    $(document).ready(function () {
        var item_options_text = ``;
        $.ajax({
            url: "{% url 'api:jobOrderList' %}?find_all=1",
            type: 'GET',
            data: ({}),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    // itemsData=response.page_items
                    item_options_text += `<option value="">Choose item</option>`;
                    for (let index = 0; index < response.page_items.length; index++) {
                        item_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].order_number}</option>`;
                    }
                    $('#job_Order_id').html(item_options_text);
                    $('.selectpicker').select2({
                        placeholder: '',
                        templateResult: function(option) {
                            if(option.element && (option.element).hasAttribute('hidden')){
                                return null;
                            }
                            return option.text;
                        }
                    });
                } 
                else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });


     });

     //for store no
     $(document).ready(function () {
        var store_options_text = ``;
        $.ajax({
            url: "{% url 'api:storeList' %}?find_all=2",
            type: 'GET',
            data: ({
            }),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    // itemsData=response.page_items
                    store_options_text += `<option value="">Choose item</option>`;
                    for (let index = 0; index < response.page_items.length; index++) {
                        store_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].name}</option>`;
                    }
                    $('#store_id').html(store_options_text);
                    $('.selectpicker').select2({
                        placeholder: '',
                        templateResult: function(option) {
                            if(option.element && (option.element).hasAttribute('hidden')){
                                return null;
                            }
                            return option.text;
                        }
                    });
                } 
                else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });

       

    });

    //for item 
    

    $(document).ready(function(){
            $(document).on('mouseenter','.test',function(){
                if( $('select#store_id option:selected').val() =="" ){
                    alert("please select store")
                }
            
            });
       
        })

</script>

<script>
    var item_options_text
    $(document).ready(function(){
        $(document).on('change','#store_id' , function(){
            // console.log('230',$('select#job_Order_id option:selected').val())
            $('#table_form').html(`<p></p>`)
            if( $('select#job_Order_id option:selected').val() != "" ){ 
                callMaterialIssue()
                }
           
        })

        $(document).on('change','#job_Order_id',function(){
            // console.log("241")
            $(this).parents().closest('.form-row').find('.content_parent').remove();
            $(this).parents().closest('.form-row').find('.material_issue_no_name').val("");
            $(this).parents().closest('.form-row').find('.issue_date').val("");
            callMaterialIssue()

        });
       
        
    });

    function callMaterialIssue(){
        // console.log("246")
        var store_id = $('select#store_id option:selected').val()
        var job_Order_id = $('select#job_Order_id option:selected').val()
        $('#vendor_name').val("")
        $('.vendor_id').val("")
        $.ajax({
            url: "{% url 'api:materialIssueDetails' %}",
            type: 'GET',
            data: ({
                'store_id':store_id,
                'job_Order_id' : job_Order_id
            }),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    $('#submit').removeAttr('hidden')
                    var vendId =0 
                    $('#vendor_name').val(response.job_order_head[0].vendor__name) //job_order_header__vendor__name
                    vendId = response.job_order_head[0].vendor_id
                    // console.log(vendId,"saswata")
                    $('.vendor_id').val(vendId)
                    if(response.page_items.length>0){
                        $('#table_form').html(`<p></p>`);
                        for(let index=0 ; index<response.page_items.length; index++){
                             var text_inp = `<div class="form-row content_parent">
                                    <div class="col-md-4 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <input type="hidden" class="item_id" name="item_id" value="${response.page_items[index].item_id}"">
                                        <input type="text" class="form-control item_name" name="item_name" value="${response.page_items[index].item__name}"  readonly required>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label>Actual quantity <span class="required-indicator">*</span></label>
                                        <input type="text" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="actual_quantity" min="0.01" class="form-control actual_quantity"
                                            placeholder="0.00" readonly>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label>quantity sent <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="quantity_sent" min="0.01" class="form-control quantity_sent"
                                            placeholder="0.00" required>
                                    </div>
                                </div>`
                                $('.selectpicker').select2({
                                    placeholder: '',
                                    
                                });
                            $('#table_form').append(text_inp);
                        }
                        
                    }
                    else{

                    var text_inp = `<div class="form-row content_parent">
                                    <div class="col-md-5 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <div class="input-group">
                                            <select class="custom-select selectpicker item_id" name="item_id" required>
                                                ${item_options_text}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Actual quantity <span class="required-indicator">*</span></label>
                                        <input type="text" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="actual_quantity" min="0.01" class="form-control actual_quantity"
                                            placeholder="0.00" readonly>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>quantity sent <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="quantity_sent" min="0.01" class="form-control quantity_sent"
                                            placeholder="0.00" required>
                                    </div>

                                    <div class="col-md-1 btn-group mb-4 text-center">
                                        <button type="button" class="btn add_btn m-1">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>`

                            $('#table_form').html(text_inp);
            $('.selectpicker').select2({
                placeholder: '',
                templateResult: function(option) {
                    if(option.element && (option.element).hasAttribute('hidden')){
                        return null;
                    }
                    return option.text;
                }
            });
                            
                    }
                    
                } 
                else {
                    alert("res not found");
                }
            },
            complete: function(response){
                $("#table_form").children(".content_parent").each(function(){
                    let actual_quantity_element=$(this).find(".actual_quantity")
                    let quantity_sent_element = $(this).find('.quantity_sent')
                    // console.log(quantity_sent_element);
                    let item_id=$(this).find(".item_id").val()
                    let store_id=$("#store_id").val()  
                    if(item_id && store_id){
                        $.ajax({
                        url: "{% url 'api:getActualQuantity' %}?",
                        type: 'GET',
                        data: ({
                            'item_id':item_id,
                            'store_id':store_id
                        }),
                        headers: {
                            'Authorization': getCookieValue("accessToken")
                        },
                        success: function (response) {
                            if (response.status == 200) {
                                actual_quantity_element.val(response.on_hand_qty_res);
                                quantity_sent_element.attr('max',response.on_hand_qty_res)
                            } 
                            else {
                                alert(response.message);
                            }
                        },
                        error: function (error) {
                        $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                    }
                });
                    }   
                })
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });

        $(document).on('submit', '#create_form', function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        console.log("426");
        $('.submit-btn').text('Submitting...');
        $('.submit-btn').prop('disabled', true);
        var formData = new FormData(create_form);
        console.log(formData.getAll('quantity_sent'))
        $.ajax({
            type: "POST",
            evalScripts: true,
            contentType: false,
            processData: false,
            url: "{% url 'api:materialIssueAdd' %}",
            data: formData,
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                $('.submit-btn').text('Submitting...');
                $('.submit-btn').prop('disabled', false);
                if (response.status == 200) {
                    // alert(response.message);
                    locationAfterMessageStore(response.message, 'success', "{% url 'superuser:materialIssueListView' %}");
                    
                } else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.submit-btn').text('Submitting...');
                $('.submit-btn').prop('disabled', false);
                // locationAfterMessageStore(error.responseJSON.detail, 'error');
                $('.success-msg-txt').text("");
                $('.error-msg-txt').removeClass('text-secondary').removeClass('text-info').removeClass('text-success').removeClass('text-warning').removeClass('text-danger');
                $('.error-msg-txt').addClass('text-danger');
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    
    });
    }

    $(document).ready(function(){
        $(document).on('click','.add_btn',function(){
            var text_inp = `<div class="form-row content_parent">
                                    <div class="col-md-5 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <div class="input-group">
                                            <select class="custom-select selectpicker item_id" name="item_id" required>
                                                ${item_options_text}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Actual quantity <span class="required-indicator">*</span></label>
                                        <input type="text" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="actual_quantity" min="0.01" class="form-control actual_quantity"
                                            placeholder="0.00" readonly>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>quantity sent <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="quantity_sent" min="0.01" class="form-control quantity_sent"
                                            placeholder="0.00" required>
                                    </div>

                                    <div class="col-md-1 btn-group mb-4 text-center">
                                        <button type="button" class="btn remove_btn m-1">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>`

            $('#table_form').append(text_inp);
            $('.selectpicker').select2({
                placeholder: '',
                templateResult: function(option) {
                    if(option.element && (option.element).hasAttribute('hidden')){
                        return null;
                    }
                    return option.text;
                }
            });
            
            
                            
        });

        $(document).on('click', '.remove_btn', function () {
        $(this).parents().closest('.content_parent').remove();
    });
    });
    

    $(document).ready(function () {
        $.ajax({
            url: "{% url 'api:itemList' %}?find_all=1",
            type: 'GET',
            data: ({
            }),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    // itemsData=response.page_items
                    item_options_text += `<option value="">Choose item</option>`;
                    for (let index = 0; index < response.page_items.length; index++) {
                        item_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].name}</option>`;
                    }
                    // $('.item_id').html(item_options_text);
                    $('.selectpicker').select2({
                        placeholder: '',
                        templateResult: function(option) {
                            if(option.element && (option.element).hasAttribute('hidden')){
                                return null;
                            }
                            return option.text;
                        }
                    });
                } 
                else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });

       

        });


    $(document).on('change','.item_id',function(){
        let selected_item_pk=$(this).val()
        //console.log(selected_item_pk);
        let store_id =  $('select#store_id option:selected').val()
        let actual_quantitys = $(this).closest('.content_parent').find('.actual_quantity')
        let quantity_sents = $(this).closest('.content_parent').find('.quantity_sent')
        // console.log(quantity_sents.html());
        $.ajax({
                        url: "{% url 'api:getActualQuantity' %}?",
                        type: 'GET',
                        data: ({
                            'item_id':selected_item_pk,
                            'store_id':store_id
                        }),
                        headers: {
                            'Authorization': getCookieValue("accessToken")
                        },
                        success: function (response) {
                            if (response.status == 200) {
                                actual_quantitys.val(response.on_hand_qty_res)
                                quantity_sents.attr('max',response.on_hand_qty_res)
                            } 
                            else {
                                alert(response.message);
                            }
                        },
                        error: function (error) {
                        $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                    }
                });
        
        
    });

    function checkMaxMin(element) {
        if ($(element).val() == "") {
            $(element).val($(element).attr('min'));
        } else {
            if (parseFloat($(element).attr('max')) < parseFloat($(element).val())) {
                $(element).val($(element).attr('max'));
            }
            if (parseFloat($(element).attr('min')) > parseFloat($(element).val())) {
                $(element).val($(element).attr('min'));
            }
        }
    }


</script>

{% endblock js %}