{% extends 'portal/base.html' %}
{% load static %}
{% load template_func %}

{% block css %}
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="pageheader pd-t-25 pd-b-35">
        <div class="d-flex justify-content-between">
            <div class="clearfix">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 tx-20 tx-dark">{{parent_page_title}} {{page_title}}</h1>
                </div>
                <div class="breadcrumb pd-0 mg-0">
                    {% for breadcrumb in breadcrumbs %}
                    {% if forloop.counter != breadcrumbs|length %}
                    <a class="breadcrumb-item" href="{{breadcrumb.url}}">{{breadcrumb.name}}</a>
                    {% else %}
                    <span class="breadcrumb-item active">{{breadcrumb.name}}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row row-xs clearfix">
        <div class="col-md-12 col-lg-12">
            {% if messages %}
            {% for message in messages %}
            {% if forloop.counter == messages|length %}
            <div class="{{ message.tags }} success-msg-txt" style="height: 30px; text-align: center;">{{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="card mg-b-30">
                <!-- upper header of form -->
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-header-title tx-13 mb-0">{{parent_page_title}} {{page_title}}</h6>
                        </div>
                        <div class="text-right">
                            <div class="d-flex">
                                <a href="{% url 'superuser:itemList' %}" class="mr-3"><i
                                        class="fa fa-step-backward"></i></a>
                                <a href="" class="mr-3"><i class="ti-reload"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- end upper header -->
                <!-- main form  -->
                <div class="card-body">
                    <form id="create_form" class="needs-validation" novalidate enctype="multipart/form-data">
                        <div class="form-row">
                            {% for obj in material_issue %}
                            
                            <div class="col-md-2 mb-3">
                                <label>Store<span class="required-indicator">*</span></label>
                                <input type="hidden" id="store_transact_head_pk" name="store_transact_head_pk" class="form-control"  value="{{obj.pk}}"
                                    readonly>
                                <input type="text" id="store_name" name="store_name" class="form-control"  value="{{store_name}}"
                                    readonly>
                                    <input type="hidden" id="store_id" name="store_id" class="form-control"  value="{{store_id}}"
                                    readonly>
                            </div>
                            
                            <div class="col-md-2 mb-3 test ">
                                <label>Job Order No<span class="required-indicator">*</span></label>
                                <input type="text" id="job_order_no" name="job_order_no" class="form-control"  value="{{obj.job_order__order_number}}"
                                    readonly>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label>vendor <span class="required-indicator">*</span></label>
                                <input type="text" id="vendor_name" name="vendor_name" class="form-control"  value="{{obj.vendor__name}}"
                                    readonly>
                                    <input type="hidden" class="vendor_id" name="vendor_id" value="{{obj.vendor_id}}" >
                                
                            </div>
                            <div class="col-md-2 mb-3">
                                <label>Material Issue No <span class="required-indicator">*</span></label>
                                <input type="text" name="material_issue_no_name" class="form-control" value="{{obj.transaction_number}}"
                                readonly>
                                <input type="hidden" name="material_issue_no_id" class="form-control" value ="{{obj.pk}}" 
                                readonly>
                            </div>

                            <div class="col-md-2 mb-3">
                                <label>Issue Date <span class="required-indicator">*</span></label>
                                <input type="date" name="issue_date" class="form-control" value="{{obj.transaction_date|date:'Y-m-d'}}"
                                readonly>
                            </div>

                            <div class="col-md-12" id="table_form">
                                {% for obj1 in  material_issue_details %}
                                <div class="form-row content_parent">
                                    <div class="col-md-4 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <input type="hidden" class="item_id" name="item_id" value="{{obj1.item_id}}">
                                        <input type="text" class="form-control item_name" name="item_name" value="{{obj1.item__name}}"  readonly required>
                                    </div>


                                    <div class="col-md-4 mb-3">
                                        <label>quantity issued<span class="required-indicator">*</span></label>
                                        <input type="hidden"
                                            name="quantity_sent"  class="form-control quantity_sent" value="{{obj1.quantity}}"
                                            >
                                        <input type="text"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="quantity_issue" min="0.01" class="form-control quantity_issue" value="{{obj1.quantity}}"
                                            placeholder="0.00"   onkeyup="checkMaxMin(this)" required>
                                            
                                    </div>
                                </div>

                                {% endfor %}
                                
                            </div>
                            <div class="col-md-12" id="submit" >
                                <button onclick="return confirm('Please check the form again before submitting. It can not be changed')" class="btn btn-success submit-btn" type="submit">Submit</button>
                            </div>
                            {% endfor %}
                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<!-- script -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
   $(document).ready(function(){
    $(document).on('submit', '#create_form', function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        $('.submit-btn').text('Submitting...');
        $('.submit-btn').prop('disabled', true);
        var formData = new FormData(create_form);
        $.ajax({
            type: "POST",
            evalScripts: true,
            contentType: false,
            processData: false,
            url: "{% url 'api:materialIssueEditAdd' %}",
            data: formData,
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                $('.submit-btn').text('Submitting...');
                $('.submit-btn').prop('disabled', false);
                if (response.status == 200) {
                    console.log(response.message);
                    locationAfterMessageStore(response.message, 'success', "{% url 'superuser:materialIssueListView' %}");
                    
                } else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.submit-btn').text('Submitting...');
                $('.submit-btn').prop('disabled', false);
                // locationAfterMessageStore(error.responseJSON.detail, 'error');
                $('.success-msg-txt').text("");
                $('.error-msg-txt').removeClass('text-secondary').removeClass('text-info').removeClass('text-success').removeClass('text-warning').removeClass('text-danger');
                $('.error-msg-txt').addClass('text-danger');
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    });
   });

   function checkMaxMin(element) {
        if ($(element).val() == "") {
            $(element).val($(element).attr('min'));
        } else {
            if (parseFloat($(element).attr('max')) < parseFloat($(element).val())) {
                $(element).val($(element).attr('max'));
            }
            if (parseFloat($(element).attr('min')) > parseFloat($(element).val())) {
                $(element).val($(element).attr('min'));
            }
        }
    }

</script>

{% endblock js %}