{% load static %}
{% load template_func %}

<div class="page-sidebar">
  <div class="logo">
    <a class="logo-img" href="{% url 'superuser:dashboard' %}">
      <img class="desktop-logo" src="{% static 'images/logo.png' %}" alt="">
      <img class="small-logo" src="{% static 'images/login-logo.png' %}" alt="">
    </a>
    <a id="sidebar-toggle-button-close"><i class="wd-20" data-feather="x"></i> </a>
  </div>
  <!--================================-->
  <!-- Sidebar Menu Start -->
  <!--================================-->
  <div class="page-sidebar-inner">
    <div class="page-sidebar-menu">
      <ul class="accordion-menu">
        <li class="{% if request.path == '/' %}active{% endif %}">
          <a href="{% url 'superuser:dashboard' %}"><i data-feather="home"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="mg-l-20-force mg-t-25-force menu-navigation">Navigation</li>
        {% if request.user.is_superuser == 1 or 'view_role,view_user,view_vendor,view_customer,view_uom,view_item_type,view_item_color,view_item,view_store, view_store_item'|get_session_permission:request is not None %}
        <li
          class="{% if request.path == '/role-list' or request.path == '/user-list' or request.path == '/vendor-list' or request.path == '/customer-list' or request.path == '/uom-list' or request.path == '/item-type-list' or request.path == '/item-color-list' or request.path == '/item-list' or request.path == '/store-list' or request.path == '/store-item-list' %}open active{% endif %}">
          <a href="javascript:void(0)"><i data-feather="grid"></i>
            <span>Master Data</span><i class="accordion-icon fa fa-angle-left"></i>
          </a>
          <ul class="sub-menu"
            style="display: {% if request.path == '/role-list' or request.path == '/user-list' or request.path == '/vendor-list' or request.path == '/customer-list' or request.path == '/uom-list' or request.path == '/item-type-list' or request.path == '/item-color-list' or request.path == '/item-list' or request.path == '/store-list' or request.path == '/store-item-list' %}block{% else %}none{% endif %};">
            {% if request.user.is_superuser == 1 or 'view_role'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/role-list' %}active{% endif %}">
              <a href="{% url 'superuser:roleList' %}">Role</a>
            </li>
            {% endif %}
            {% if request.user.is_superuser == 1 or 'view_user'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/user-list' %}active{% endif %}">
              <a href="{% url 'superuser:userList' %}">User</a>
            </li>
            {% endif %}
            {% if request.user.is_superuser == 1 or 'view_vendor'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/vendor-list' %}active{% endif %}">
              <a href="{% url 'superuser:vendorList' %}">Vendor</a>
            </li>
            {% endif %}
            {% if request.user.is_superuser == 1 or 'view_customer'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/customer-list' %}active{% endif %}">
              <a href="{% url 'superuser:customerList' %}">Customer</a>
            </li>
            {% endif %}
            {% if request.user.is_superuser == 1 or 'view_uom'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/uom-list' %}active{% endif %}">
              <a href="{% url 'superuser:uomList' %}">UOM</a>
            </li>
            {% endif %}
            <!-- {% if request.user.is_superuser == 1 or 'view_child_uom'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/child-uom-list' %}active{% endif %}">
              <a href="{% url 'superuser:childUomList' %}">Child UOM</a>
            </li>
            {% endif %} -->
            <!-- {% if request.user.is_superuser == 1 or 'view_item_category'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/item-category-list' %}active{% endif %}">
              <a href="{% url 'superuser:itemCategoryList' %}">Item Category</a>
            </li>
            {% endif %} -->
            {% if request.user.is_superuser == 1 or 'view_item_type'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/item-type-list' %}active{% endif %}">
              <a href="{% url 'superuser:itemTypeList' %}">Item Type</a>
            </li>
            {% endif %}
            {% if request.user.is_superuser == 1 or 'view_item_color'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/item-color-list' %}active{% endif %}">
              <a href="{% url 'superuser:itemColorList' %}">Item Color</a>
            </li>
            {% endif %}
            {% if request.user.is_superuser == 1 or 'view_item'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/item-list' %}active{% endif %}">
              <a href="{% url 'superuser:itemList' %}">Item</a>
            </li>
            {% endif %}
            {% if request.user.is_superuser == 1 or 'view_store'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/store-list' %}active{% endif %}">
              <a href="{% url 'superuser:storeList' %}">Store</a>
            </li>
            {% endif %}
            {% if request.user.is_superuser == 1 or 'view_store_item'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/store-item-list' %}active{% endif %}">
              <a href="{% url 'superuser:storeItemList' %}">Store Item</a>
            </li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        {% if request.user.is_superuser == 1 or 'view_bill_of_material'|get_session_permission:request is not None %}
        <li class="{% if request.path == '/bill-of-material-list' %}open active{% endif %}">
          <a href="{% url 'superuser:billOfMaterialList' %}"><i data-feather="printer"></i>
            <span>Bill Of Material</span></a>
        </li>
        {% endif %}
        {% if request.user.is_superuser == 1 or 'view_purchase_order'|get_session_permission:request is not None %}
        <li
          class="{% if request.path == '/purchase-order-list' %}open active{% endif %}">
          <a href="javascript:void(0)"><i data-feather="download"></i>
            <span>Purchase</span><i class="accordion-icon fa fa-angle-left"></i>
          </a>
          <ul class="sub-menu"
            style="display: {% if request.path == '/purchase-order-list' %}block{% else %}none{% endif %};">
            {% if request.user.is_superuser == 1 or 'view_purchase_order'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/purchase-order-list' %}active{% endif %}">
              <a href="{% url 'superuser:purchaseOrderList' %}">Purchase Order</a>
            </li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        {% if request.user.is_superuser == 1 or 'view_job_order'|get_session_permission:request is not None %}
        <li
          class="{% if request.path == '/job-order-list' %}open active{% endif %}">
          <a href="javascript:void(0)"><i data-feather="file-text"></i>
            <span>Job</span><i class="accordion-icon fa fa-angle-left"></i>
          </a>
          <ul class="sub-menu"
            style="display: {% if request.path == '/job-order-list' %}block{% else %}none{% endif %};">
            {% if request.user.is_superuser == 1 or 'view_job_order'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/job-order-list' %}active{% endif %}">
              <a href="{% url 'superuser:jobOrderList' %}">Job Order</a>
            </li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        {% if request.user.is_superuser == 1 or 'view_store_transaction'|get_session_permission:request is not None %}
        <li
          class="{% if request.path == '/store-transaction-list' %}open active{% endif %}">
          <a href="javascript:void(0)"><i data-feather="wind"></i>
            <span>Material Inbound</span><i class="accordion-icon fa fa-angle-left"></i>
          </a>
          <ul class="sub-menu"
            style="display: {% if request.path == '/store-transaction-list' %}block{% else %}none{% endif %};">
            {% if request.user.is_superuser == 1 or 'view_store_transaction'|get_session_permission:request is not None %}
            <li class="{% if request.path == '/store-transaction-list' %}active{% endif %}">
              <a href="{% url 'superuser:storeTransactionList' %}">Material Receipt (GRN)</a>
            </li>
            {% endif %}
          </ul>
        </li>
        <li class="{% if request.path == '/material-issue-list' %}open active{% endif %}">
          <a href="{% url 'superuser:materialIssueList' %}"><i data-feather="printer"></i>
            <span>Material Issue</span></a>
        </li>
        <li class="{% if request.path == '/material-return-list' %}open active{% endif %}">
          <a href="{% url 'superuser:materialReturnList' %}"><i data-feather="skip-back"></i>
            <span>Material Return</span></a>
        </li>
        {% endif %}
        <!-- <li class="mg-l-20-force mg-t-25-force menu-elements">Elements</li>
        <li>
          <a href="javascript:void(0)"><i data-feather="underline"></i>
            <span>UI Elements</span><i class="accordion-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu">
            <li><a href="uie-accordion.html">Accordion</a></li>
            <li><a href="uie-alert.html">Alerts</a></li>
            <li><a href="uie-avatar.html">Avatar</a></li>
            <li><a href="uie-badge.html">Badges</a></li>
            <li><a href="uie-breadcrumbs.html">Breadcrumbs</a></li>
            <li><a href="uie-buttons.html">Buttons</a></li>
            <li><a href="uie-button-groups.html">Button Groups</a></li>
            <li><a href="uie-cards.html">Cards</a></li>
            <li><a href="uie-carousel.html">Carousel</a></li>
            <li><a href="uie-collapse.html">Collapse</a></li>
            <li><a href="uie-dropdown.html">Dropdown</a></li>
            <li><a href="uie-images.html">Images</a></li>
            <li><a href="uie-list-group.html">List Group</a></li>
            <li><a href="uie-marker.html">Marker</a></li>
            <li><a href="uie-modal.html">Modal</a></li>
            <li><a href="uie-navs.html">Navs</a></li>
            <li><a href="uie-navbar.html">Navbar</a></li>
            <li><a href="uie-pagination.html">Pagination</a></li>
            <li><a href="uie-placeholder.html">Placeholder</a></li>
            <li><a href="uie-popovers.html">Popovers</a></li>
            <li><a href="uie-progress.html">Progress</a></li>
            <li><a href="uie-scrollbar.html">Scrollbar</a></li>
            <li><a href="uie-scrollspy.html">Scrollspy</a></li>
            <li><a href="uie-spinners.html">Spinners</a></li>
            <li><a href="uie-tooltips.html">Tooltips</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)"><i data-feather="aperture"></i>
            <span>UI Utilities</span><i class="accordion-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu">
            <li><a href="uiu-background.html">Background</a></li>
            <li><a href="uiu-borders.html">Borders</a></li>
            <li><a href="uiu-colors.html">Colors</a></li>
            <li><a href="uiu-display.html">Display </a></li>
            <li><a href="uiu-embeds.html">Embeds</a></li>
            <li><a href="uiu-flex.html">Flex</a></li>
            <li><a href="uiu-margin.html">Margin</a></li>
            <li><a href="uiu-padding.html">Padding</a></li>
            <li><a href="uiu-float.html">Float</a></li>
            <li><a href="uiu-position.html">Position</a></li>
            <li><a href="uiu-screenreaders.html">Screenreaders</a></li>
            <li><a href="uiu-sizing.html">Sizing</a></li>
            <li><a href="uiu-spacing.html">Spacing</a></li>
            <li><a href="uiu-text.html">Text</a></li>
            <li><a href="uiu-vertical-alignment.html">Vertical Alignment</a></li>
            <li><a href="uiu-width.html">Width</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)"><i data-feather="grid"></i>
            <span>Grid</span><i class="accordion-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu">
            <li><a href="grid-utilities-layout.html">Utilities for Layout</a></li>
            <li><a href="grid-auto-layout-columns.html">Auto-layout Columns</a></li>
            <li><a href="grid-responsive-classes.html">Responsive Classes</a></li>
            <li><a href="grid-alignment.html">Alignment</a></li>
            <li><a href="grid-reordering.html">Reordering</a></li>
            <li><a href="grid-customizing-grid.html">Customizing Grid</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)"><i data-feather="gift"></i>
            <span>Icons</span><i class="accordion-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu">
            <li><a href="icon-font-awesome.html">Font Awesome</a></li>
            <li><a href="icon-feather.html">Feather Icons</a></li>
            <li><a href="icon-mdi.html">Mdi icons</a></li>
            <li><a href="icon-flag.html">Flag icons</a></li>
            <li><a href="icon-simple-line.html">Simple line icons</a></li>
            <li><a href="icon-themify.html">Themify icons</a></li>
            <li><a href="icon-weather.html">Weather Icons</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)"><i data-feather="calendar"></i>
            <span>Forms</span><i class="accordion-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu">
            <li><a href="form-element.html">Form Elements</a></li>
            <li><a href="form-formatter.html">Form Formatter </a></li>
            <li><a href="form-input-group.html">Input Group</a></li>
            <li><a href="form-input-tag.html">Input Tags</a></li>
            <li><a href="form-input-masks.html">Input Masks</a></li>
            <li><a href="form-layout.html">Form Layouts</a></li>
            <li><a href="form-validation.html">Form Validation</a></li>
            <li><a href="form-wizard.html">Form Wizard</a></li>
            <li><a href="form-range-slider.html">Range Slider</a></li>
            <li><a href="form-date-pickers.html">Date Pickers</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)"><i data-feather="life-buoy"></i>
            <span>Tables</span><i class="accordion-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu">
            <li><a href="table-static.html">Static</a></li>
            <li><a href="table-responsive.html">Responsive</a></li>
            <li><a href="table-datatable.html">Data Tables</a></li>
            <li><a href="table-footable.html">Foo Tables</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)"><i data-feather="pie-chart"></i>
            <span>Charts</span><i class="accordion-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu">
            <li><a href="chart-apex.html">Apex</a></li>
            <li><a href="chart-google.html">Google</a></li>
            <li><a href="chart-morris.html">Morris</a></li>
            <li><a href="chart-chartjs.html">ChartJS</a></li>
            <li><a href="chart-flot.html">Flot</a></li>
            <li><a href="chart-chartlist.html">Chartlist</a></li>
            <li><a href="chart-sparkline.html">Sparkline</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)"><i data-feather="map"></i>
            <span>Maps</span><i class="accordion-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu">
            <li><a href="map-google.html">Google Maps</a></li>
            <li><a href="map-vector.html">Vector Maps</a></li>
          </ul>
        </li>
        <li class="mg-l-20-force mg-t-25-force menu-extras">Extras</li>
        <li>
          <a href="javascript:void(0)"><i data-feather="cpu"></i>
            <span>Authentication</span><i class="accordion-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu">
            <li><a href="aut-error404.html">404 Page</a></li>
            <li><a href="aut-error500.html">500 Page</a></li>
            <li><a href="aut-signin.html">Login</a></li>
            <li><a href="aut-signup.html">Register</a></li>
            <li><a href="aut-unlock.html">Lockscreen</a></li>
            <li><a href="aut-password.html">password Reset</a></li>
            <li><a href="aut-logign-register.html">Login + Register</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)"><i data-feather="git-pull-request"></i>
            <span>Plugins</span><i class="accordion-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu">
            <li><a href="plg-bootbox.html">Bootbox</a></li>
            <li><a href="plg-block-ui.html">BlockUI</a></li>
            <li><a href="plg-bootstrap-data-table.html">Bootstrap dataTable</a></li>
            <li><a href="plg-bootstrap-daterangepicker.html">Bootstrap Daterangepicker</a></li>
            <li><a href="plg-bootstrap-dateTimePicker.html">Bootstrap DateTimePicker</a></li>
            <li><a href="plg-bootstrap-dual-listbox.html">Bootstrap Dual Listbox</a></li>
            <li><a href="plg-bootstrap-slider.html">Bootstrap Slider</a></li>
            <li><a href="plg-bootstrap-markdown.html">Bootstrap Markdown</a></li>
            <li><a href="plg-bootstrap-maxlength.html">Bootstrap Maxlength</a></li>
            <li><a href="plg-bootstrap-multiselect.html">Bootstrap Multiselect</a></li>
            <li><a href="plg-bootstrap-pwstrength.html">Bootstrap Pwstrength</a></li>
            <li><a href="plg-bootstrap-select.html">Bootstrap Select</a></li>
            <li><a href="plg-bootstrap-sortable.html">Bootstrap Sortable</a></li>
            <li><a href="plg-bootstrap-tagsinput.html">Bootstrap Tagsinput</a></li>
            <li><a href="plg-cropper.html">Cropper</a></li>
            <li><a href="plg-clipboard.html">Clipboard</a></li>
            <li><a href="plg-codeeditor.html">Code Editor</a></li>
            <li><a href="plg-dropzone.html">Dropzone</a></li>
            <li><a href="plg-dragula.html">Dragula</a></li>
            <li><a href="plg-flow-js.html">Flow.js</a></li>
            <li><a href="plg-fullcalendar.html">Fullcalendar</a></li>
            <li><a href="plg-flatpickr.html">Flatpickr</a></li>
            <li><a href="plg-growl.html">Growl</a></li>
            <li><a href="plg-idle-timer.html">IdleTimer</a></li>
            <li><a href="plg-knob.html">Knob</a></li>
            <li><a href="plg-ladda.html">Ladda</a></li>
            <li><a href="plg-masonry.html">Masonry</a></li>
            <li><a href="plg-nestable.html">Nestable</a></li>
            <li><a href="plg-numeral.html">Numeral</a></li>
            <li><a href="plg-no-ui-slider.html">noUiSlider</a></li>
            <li><a href="plg-photoswipe.html">Photoswipe</a></li>
            <li><a href="plg-plyr.html">Plyr</a></li>
            <li><a href="plg-sortable-js.html">Sortable.js</a></li>
            <li><a href="plg-spinkit.html">Spinkit</a></li>
            <li><a href="plg-swiper.html">Swiper</a></li>
            <li><a href="plg-select2.html">Select2</a></li>
            <li><a href="plg-sweet-alert2.html">SweetAlert2</a></li>
            <li><a href="plg-SmartWizard.html">SmartWizard</a></li>
            <li><a href="plg-typeahead.html">Typeahead</a></li>
            <li><a href="plg-toastr.html">Toastr</a></li>
            <li><a href="plg-jstree.html">Tree</a></li>
            <li><a href="plg-vanilla-text-mask.html">Vanilla Text Mask</a></li>
            <li><a href="plg-wysiwyg.html">WYSIWYG Editor</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)"><i data-feather="codepen"></i>
            <span>Pages</span><i class="accordion-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu">
            <li><a href="pages-article.html">Articles</a></li>
            <li><a href="pages-contact.html">Contacts</a></li>
            <li><a href="pages-faq.html">FAQ's</a></li>
            <li><a href="pages-forum.html">Forum</a></li>
            <li><a href="pages-gallery.html">Gallery</a></li>
            <li><a href="pages-invoice.html">Invoice</a></li>
            <li><a href="pages-profile.html">Profile</a></li>
            <li><a href="pages-product.html">Products</a></li>
            <li><a href="pages-pricing.html">Pricing</a></li>
            <li><a href="pages-project.html">Projects</a></li>
            <li><a href="pages-search.html">Search</a></li>
            <li><a href="pages-ticket.html">Tickets</a></li>
            <li><a href="pages-voting.html">Voting</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)"><i data-feather="codepen"></i>
            <span>UI Kit</span><i class="accordion-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu">
            <li><a href="uik-base.html" target="_blank">Base</a></li>
            <li><a href="uik-company.html" target="_blank">Company</a></li>
            <li><a href="uik-ecommerce.html" target="_blank">E-Commerce</a></li>
            <li><a href="uik-magazine.html" target="_blank">Magazine</a></li>
            <li><a href="uik-social.html" target="_blank">Social</a></li>
          </ul>
        </li>
        <li>
          <a href="email-template.html"><i data-feather="printer"></i>
            <span>Mail Template</span></a>
        </li> -->
      </ul>
    </div>
  </div>
  <!--/ Sidebar Menu End -->
  <!--================================-->
  <!-- Sidebar Footer Start -->
  <!--================================-->
  <div class="sidebar-footer">
    <a class="pull-left" href="" data-toggle="tooltip" data-placement="top"
      data-original-title="Profile">
      <i data-feather="user" class="wd-16"></i></a>
    <a class="pull-left " href="" data-toggle="tooltip" data-placement="top" data-original-title="Mailbox">
      <i data-feather="mail" class="wd-16"></i></a>
    <a class="pull-left" href="" data-toggle="tooltip" data-placement="top"
      data-original-title="Lockscreen">
      <i data-feather="lock" class="wd-16"></i></a>
    <a class="pull-left signout" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
      data-original-title="Sing Out">
      <i data-feather="log-out" class="wd-16"></i></a>
  </div>
  <!--/ Sidebar Footer End -->
</div>