{% extends 'portal/base.html' %}
{% load static %}
{% load template_func %}

{% block css %}
{% endblock %}

{% block content %}
<div class="wrapper">
    <!--================================-->
    <!-- Breadcrumb Start -->
    <!--================================-->
    <div class="pageheader pd-t-25 pd-b-35">
        <div class="d-flex justify-content-between">
            <div class="clearfix">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 tx-20 tx-dark">{{parent_page_title}} {{page_title}}</h1>
                </div>
                <div class="breadcrumb pd-0 mg-0">
                    {% for breadcrumb in breadcrumbs %}
                    {% if forloop.counter != breadcrumbs|length %}
                    <a class="breadcrumb-item" href="{{breadcrumb.url}}">{{breadcrumb.name}}</a>
                    {% else %}
                    <span class="breadcrumb-item active">{{breadcrumb.name}}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--/ Breadcrumb End -->
    <!--================================-->
    <!-- Form Element Start -->
    <!--================================-->
    <div class="row row-xs clearfix">
        <div class="col-md-12 col-lg-12">
            {% if messages %}
            {% for message in messages %}
            {% if forloop.counter == messages|length %}
            <div class="{{ message.tags }} success-msg-txt" style="height: 30px; text-align: center;">{{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="error-msg-txt" style="height: 30px; text-align: center;"></div>
            <div class="card mg-b-30">
                <div class="card-body">
                    <form id="create_form" class="needs-validation" novalidate enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>Client Name <span class="required-indicator">*</span></label>
                                <input type="text" name="name" class="form-control" placeholder="Name" value="{{configUser.client_name}}" required>
                                <input type="hidden" name="pk" class="form-control"  value="{{configUser.pk}}" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Client Address<span class="required-indicator">*</span></label>
                                <input type="text" name="client_address" class="form-control" placeholder="Client Address"
                                value="{{configUser.client_address}}"  required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Client Work Address</label>
                                <input type="text" name="client_work_address" class="form-control"
                                value="{{configUser.client_work_address}}"  placeholder="client work address">
                            </div>
                            
                            <div class="col-md-4 mb-3">
                                <label> Contact Number<span class="required-indicator">*</span></label>
                                <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                    maxlength="12" name="contact_no" class="form-control" placeholder="Contact Number" value="{{configUser.client_contact}}"
                                    required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>GST Number <span class="required-indicator">*</span></label>
                                <input type="text" 
                                     name="gst_no" class="form-control" placeholder="gst no " value="{{configUser.client_gst}}"
                                    required>
                                
                            </div>
                            <div class="col-md-4 mb-3">
                                <label> PAN No<span class="required-indicator">*</span></label>
                                <input type="text" 
                                     name="pan_no" class="form-control" placeholder="PAN Number" value="{{configUser.pan_no}}"
                                    required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label> CIN  Number<span class="required-indicator">*</span></label>
                                <input type="text" 
                                     name="cin_no" class="form-control" placeholder="CIN  Number" value="{{configUser.cin_no}}"
                                    required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>IEC CODE<span class="required-indicator">*</span></label>
                                <input type="text" 
                                     name="ice_code" class="form-control" placeholder=" IEC CODE" value="{{configUser.ice_code}}"
                                    required>
                            </div>
                            
                            <div class="col-md-4 mb-3">
                                <label> Udyam no<span class="required-indicator">*</span></label>
                                <input type="text"
                                     name="udyam_no" class="form-control" placeholder="Udyam no" value="{{configUser.udyam_no}}"
                                    required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label> MAil Id<span class="required-indicator">*</span></label>
                                <input type="email" 
                                     name="email" class="form-control" placeholder="email" value="{{configUser.mail_id}}"
                                    required><div class="invalid-feedback"> Please provide a valid email.</div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Website<span class="required-indicator">*</span></label>
                                <input type="text" 
                                     name="website" class="form-control" placeholder="website" value="{{configUser.mail_id}}"
                                    required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label> company logo<span class="required-indicator">*</span></label>
                                <input type="file" name="photo" class="form-control" placeholder="photo" accept="image/*">
                                {% if configUser.logo is not None %}
                                <a href="{{configUser.logo}}" target="_blank" rel="noopener noreferrer">Preview</a>
                                {% endif %}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Financial Start Year</label>
                                <input type="date" name="finacial_year_start" class="form-control" placeholder="finacial year start" value="{{configUser.finacial_year_start|date:'Y-m-d'}}" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Financial END Year</label>
                                <input type="date" name="finacial_year_end" class="form-control" placeholder="finacial year end" value="{{configUser.finacial_year_end|date:'Y-m-d'}}" required>
                            </div>
                            
                        </div>
                        {% if request.user.is_superuser == 1 or 'add_configuration_user'|get_session_permission:request is not None %}
                        <button class="btn btn-success submit-btn" type="submit">Submit</button>        
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ Form Element End -->
</div>
{% endblock %}

{% block js %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        console.log(form);
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
    $('.selectpicker').select2({
        placeholder: ''
    });

    $(document).on('submit', '#create_form', function (e) {
        e.preventDefault();
        $('.submit-btn').text('Submitting...');
        $('.submit-btn').prop('disabled', true);
        var formData = new FormData(create_form);
        $.ajax({
            type: "POST",
            evalScripts: true,
            contentType: false,
            processData: false,
            url: "{% url 'api:configUserEdit' %}",
            data: formData,
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                $('.submit-btn').text('Submitting...');
                $('.submit-btn').prop('disabled', false);
                if (response.status == 200) {
                    locationAfterMessageStore(response.message, 'success', "{% url 'superuser:clientConfigList' %}");
                } else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.submit-btn').text('Submitting...');
                $('.submit-btn').prop('disabled', false);
                // locationAfterMessageStore(error.responseJSON.detail, 'error');
                $('.success-msg-txt').text("");
                $('.error-msg-txt').removeClass('text-secondary').removeClass('text-info').removeClass('text-success').removeClass('text-warning').removeClass('text-danger');
                $('.error-msg-txt').addClass('text-danger');
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    });
</script>
{% endblock %}