{% extends 'portal/base.html' %}
{% load static %}
{% load template_func %}

{% block css %}
{% endblock %}

{% block content %}
<!-- main wrapper div content -->
<div class="wrapper">

    <!--================================-->
    <!-- Breadcrumb Start -->
    <!--================================-->
    <div class="pageheader pd-t-25 pd-b-35">
        <div class="d-flex justify-content-between">
            <div class="clearfix">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 tx-20 tx-dark">{{parent_page_title}} {{page_title}}</h1>
                </div>
                <div class="breadcrumb pd-0 mg-0">
                    {% for breadcrumb in breadcrumbs %}
                    {% if forloop.counter != breadcrumbs|length %}
                    <a class="breadcrumb-item" href="{{breadcrumb.url}}">{{breadcrumb.name}}</a>
                    {% else %}
                    <span class="breadcrumb-item active">{{breadcrumb.name}}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row row-xs clearfix">
        <div class="col-md-12 col-lg-12">
            {% if messages %}
            {% for message in messages %}
            {% if forloop.counter == messages|length %}
            <div class="{{ message.tags }} success-msg-txt" style="height: 30px; text-align: center;">{{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="card mg-b-30">
                <!-- upper header of form -->
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-header-title tx-13 mb-0">{{parent_page_title}} {{page_title}}</h6>
                        </div>
                        <div class="text-right">
                            <div class="d-flex">
                                <a href="{% url 'superuser:itemList' %}" class="mr-3"><i
                                        class="fa fa-step-backward"></i></a>
                                <a href="" class="mr-3"><i class="ti-reload"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end upper header -->
                <!-- main form  -->
                <div class="card-body ">
                    <form id="create_form" class="needs-validation" novalidate enctype="multipart/form-data">
                        <div class="form-row">
                            
                            <div class="col-md-3 mb-3">
                                <label>Source Store<span class="required-indicator">*</span></label>
                                <div class="input-group">
                                    <select class="custom-select selectpicker store" id="sourceStore" name="sourceStore" required>
                                        <option value="">Choose...</option>
                                        {% for store in store_list %}
                                        <option value="{{store.pk}}">{{store.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label>Destination Store<span class="required-indicator">*</span></label>
                                <div class="input-group">
                                    <select class="custom-select selectpicker store" id="desStore" name="desStore" required>
                                        <option value="">Choose...</option>
                                        {% for store in store_list %}
                                        <option value="{{store.pk}}">{{store.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label> Vehicle <span class="required-indicator">*</span></label>
                                <input type="text" name="vehicle_no" class="form-control vehicle_no" placeholder="vehicle no"
                                required>
                            </div>

                            <div class="col-md-2 mb-3">
                                <label> Transaction  Date <span class="required-indicator">*</span></label>
                                <input type="date" name="issue_date" id="issue_date" class="form-control issue_date" placeholder="Order Date"
                                required>
                            </div>


                            <div class="col-md-12" id="table_form" hidden>
                                
                            </div>

                            {% if request.user.is_superuser == 1 or 'add_on_transit_transaction'|get_session_permission:request is not None %}
                            <div class="col-md-12" id="submit" hidden>
                                <button onclick="return confirm('Please check the form again before submitting. It can not be changed')" class="btn btn-success submit-btn" type="submit">Submit</button>
                            </div>
                            {% endif %}

                        </div>
                    </form>
                </div>
                <!-- end main form -->
            </div>
        </div>
    </div>

</div>
<!-- end main wrapper div -->

{% endblock %}

{% block js %}
<!-- script -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    
    $('.selectpicker').select2({
        placeholder: '',
        templateResult: function(option) {
            if(option.element && (option.element).hasAttribute('hidden')){
                return null;
            }
            return option.text;
        }
    });
</script>

<script>
    var item_options_text = ``;
    var page_item_len = 0
    var item_options_used_pk = [];
    var store_opt_used_pk =[];
    function renderItemDropdown(){
        $('.item_id').each(function(){
            let selected_item_id=$(this).val()
            $(this).children("option").each(function(index, element){
                if($(this).val()!==selected_item_id && item_options_used_pk.includes($(this).val()) ){
                    $(this).prop("hidden",true)
                }
                else{
                    $(this).prop("hidden",false)
                }
            })
        })
    }
    function update_item_options_used_pk(){
        item_options_used_pk=[]
        $('.item_id').each(function(){
            item_options_used_pk.push($(this).val())
        }); 
    }
    function renderStoreDropdown(){
        // console.log('181');
        $('.store').each(function(){
            let selected_store_id=$(this).val()
            $(this).children("option").each(function(index, element){
                if($(this).val()!==selected_store_id && store_opt_used_pk.includes($(this).val()) ){
                    $(this).prop("hidden",true)
                }
                else{
                    $(this).prop("hidden",false)
                }
            })
        })
    }
    function update_store_options_used_pk(){
        // console.log('195');
        store_opt_used_pk=[]
        $('.store').each(function(){
            store_opt_used_pk.push($(this).val())
        }); 
    }
    $(document).on('change','.store',function(){
        // console.log('ok');
        update_store_options_used_pk()
        renderStoreDropdown()
        
    })
    function callback(){
        var callbacks = $.Callbacks();
        callbacks.add(update_item_options_used_pk);
        callbacks.fire();
        callbacks.add(renderItemDropdown);
        callbacks.fire();
        
        $('.selectpicker').select2({
            placeholder: '',
            templateResult: function(option) {
                if(option.element && (option.element).hasAttribute('hidden')){
                    return null;
                }
                return option.text;
            }
        });
    }
    
    $(document).ready(function(){
        $("#issue_date").val(new Date().toISOString().slice(0, 10))
    })
    $(document).on('change','#sourceStore',function(){
             
            $('#table_form').removeAttr('hidden')
            $('#table_form').html(``)
            let storeId = $('select#sourceStore option:selected').val()
            
            // // console.log(sourceStore);

            $.ajax({
            url: "{% url 'api:storeItemList' %}?storeId="+storeId ,
            type: 'GET',
            data: ({ }),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    item_options_text =``
                    item_options_text += `<option value="">Choose item</option>`;
                    page_item_len = response.page_items.length
                    for (let index = 0; index < response.page_items.length; index++) {
                        item_options_text += `<option value="${response.page_items[index].item_id}">${response.page_items[index].item__name}</option>`;
                        // // console.log(item_options_text);
                    }
                    // // console.log(item_options_text,"saswata");
                } 
                else {
                    alert(response.message);
                }
            },
            complete: function(response){
                if(page_item_len !=0) {
                    $('#submit').removeAttr('hidden')
                    var text_inp =`<div class="form-row content_parent">
                                        <div class="col-md-3 mb-3">
                                            <label>Item<span class="required-indicator">*</span></label>
                                            <div class="input-group">
                                                <select class="custom-select selectpicker item_id" name="item_id" required>
                                                    ${item_options_text}
                                                </select>
                                                {% if request.user.is_superuser == 1 or 'add_item'|get_session_permission:request is not None %}
                                                    <div class="btn float-end addForm" data-text="Add New item"
                                                            data-form="addItem" id="addItem"  data-toggle="modal" data-target="#addFormModal">
                                                            <i class="fa fa-plus"></i>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
    
                                        <div class="col-md-2 mb-3">
                                            <label>Rate<span class="required-indicator">*</span></label>
                                            <input type="text" class="form-control rate" name="rate"  readonly required>
                                        </div>

                                        <div class="col-md-2 mb-3">
                                            <label>Quantity<span class="required-indicator">*</span></label>
                                            <input type="text" class="form-control handquantity" name="handquantity"  readonly required>
                                        </div>
    
                                        <div class="col-md-2 mb-3">
                                            <label>Quantity Sent <span class="required-indicator">*</span></label>
                                            <input type="text" onkeyup="checkMaxMin(this)"
                                                onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                name="quantity_sent" min="0.01" class="form-control quantity_sent"
                                                placeholder="0.00" required>
                                        </div>
    
                                        <div class="col-md-1 btn-group mb-4 text-center">
                                            <button type="button" class="btn add_btn m-1">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>`
                $('#table_form').html(text_inp)
                $('.selectpicker').select2({
                            placeholder: '',
                            templateResult: function(option) {
                                if(option.element && (option.element).hasAttribute('hidden')){
                                    return null;
                                }
                                return option.text;
                            }
                        });
                }
                else{
                    $('#submit').attr('hidden','true')
                    $('#table_form').html(`<p> Store doesn't have any item at present <p>`)
                }
            },
            error: function (error) {
                    $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                }
            });
            
            // // console.log(item_options_text,"saswata");
          
        })
        

    

    $(document).on('click','.add_btn',function(){
            var text_inp = `<div class="form-row content_parent">
                                    <div class="col-md-3 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <div class="input-group">
                                            <select class="custom-select selectpicker item_id" name="item_id" required>
                                                ${item_options_text}
                                            </select>
                                            {% if request.user.is_superuser == 1 or 'add_item'|get_session_permission:request is not None %}
                                                <div class="btn float-end addForm" data-text="Add New item"
                                                        data-form="addItem" id="addItem"  data-toggle="modal" data-target="#addFormModal">
                                                        <i class="fa fa-plus"></i>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Rate<span class="required-indicator">*</span></label>
                                        <input type="text" class="form-control rate" name="rate" readonly required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                            <label>Book Quantity<span class="required-indicator">*</span></label>
                                            <input type="text" class="form-control handquantity" name="handquantity"  readonly required>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label>Quantity Sent <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="quantity_sent" min="0.01" class="form-control quantity_sent" max="$"
                                            placeholder="0.00" required>
                                    </div>

                                    <div class="col-md-1 btn-group mb-4 text-center">
                                        <button type="button" class="btn remove_btn m-1">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>`                    

            $('#table_form').append(text_inp);
            callback()
            $('.selectpicker').select2({
                placeholder: '',
                templateResult: function(option) {
                    if(option.element && (option.element).hasAttribute('hidden')){
                        return null;
                    }
                    return option.text;
                }
            });              
        });

    $(document).on('click', '.remove_btn', function () {
        $(this).parents().closest('.content_parent').remove();
        callback()
    });

    $(document).on('change','.item_id',function(){
        var valu = $(this).val()
        let storeId = $('select#sourceStore option:selected').val()
        // console.log(storeId);
        var parentDiv =  $(this).parents().closest('.content_parent');
        parentDiv.find('.quantity_sent').val('')

            $.ajax({
            url: "{% url 'api:itemList' %}?id="+valu ,
            type: 'GET',
            data: ({ }),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    // // console.log(response.page_items[0].price);
                    parentDiv.find('.rate').val(response.page_items[0].price);
                    
                } 
                else {
                    alert(response.message);
                }
            },
            complete: function(response){
            // // console.log("325");
            $.ajax({
            url: "{% url 'api:storeItemList' %}?itemId="+valu+"&storeId="+storeId ,
            type: 'GET',
            data: ({ }),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    // // console.log(response.page_items[0].on_hand_qty);
                    parentDiv.find('.handquantity').val(+response.page_items[0].on_hand_qty);
                    parentDiv.find('.quantity_sent').attr('max',response.page_items[0].on_hand_qty)
                    
                } 
                else {
                    alert(response.message);
                }
            },
            
            error: function (error) {
                    $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                }
            });
            },
            error: function (error) {
                    $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                }
            });

            callback()

            

    })

    function checkMaxMin(element) {
        if ($(element).val() == "") {
            $(element).val($(element).attr('min'));
        } else {
            if (parseFloat($(element).attr('max')) < parseFloat($(element).val())) {
                $(element).val($(element).attr('max'));
            }
            if (parseFloat($(element).attr('min')) > parseFloat($(element).val())) {
                $(element).val($(element).attr('min'));
            }
        }
    }

   

    $(document).on('submit', '#create_form', function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        // console.log("426");
        $('.submit-btn').text('Submitting...');
        $('.submit-btn').prop('disabled', true);
        var formData = new FormData(create_form);
        // console.log(formData.getAll('quantity_sent'))
        $.ajax({
            type: "POST",
            evalScripts: true,
            contentType: false,
            processData: false,
            url: "{% url 'api:materialOutDetailsAdd' %}",
            data: formData,
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                $('.submit-btn').text('Submitting...');
                $('.submit-btn').prop('disabled', false);
                if (response.status == 200) {
                    // alert(response.message);
                    locationAfterMessageStore(response.message, 'success', "{% url 'superuser:materialOutList' %}");
                    
                } else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.submit-btn').text('Submitting...');
                $('.submit-btn').prop('disabled', false);
                // locationAfterMessageStore(error.responseJSON.detail, 'error');
                $('.success-msg-txt').text("");
                $('.error-msg-txt').removeClass('text-secondary').removeClass('text-info').removeClass('text-success').removeClass('text-warning').removeClass('text-danger');
                $('.error-msg-txt').addClass('text-danger');
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    
    });
    

</script>


{% endblock js %}