{% extends 'portal/base.html' %}
{% load static %}
{% load template_func %}

{% block css %}
{% endblock %}

{% block content %}
<!-- main wrapper div content -->
<div class="wrapper">

    <!--================================-->
    <!-- Breadcrumb Start -->
    <!--================================-->
    <div class="pageheader pd-t-25 pd-b-35">
        <div class="d-flex justify-content-between">
            <div class="clearfix">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 tx-20 tx-dark">{{parent_page_title}} {{page_title}}</h1>
                </div>
                <div class="breadcrumb pd-0 mg-0">
                    {% for breadcrumb in breadcrumbs %}
                    {% if forloop.counter != breadcrumbs|length %}
                    <a class="breadcrumb-item" href="{{breadcrumb.url}}">{{breadcrumb.name}}</a>
                    {% else %}
                    <span class="breadcrumb-item active">{{breadcrumb.name}}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row row-xs clearfix">
        <div class="col-md-12 col-lg-12">
            {% if messages %}
            {% for message in messages %}
            {% if forloop.counter == messages|length %}
            <div class="{{ message.tags }} success-msg-txt" style="height: 30px; text-align: center;">{{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="card mg-b-30">
                <!-- upper header of form -->
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-header-title tx-13 mb-0">{{parent_page_title}} {{page_title}}</h6>
                        </div>
                        <div class="text-right">
                            <div class="d-flex">
                                <a href="{% url 'superuser:materialIssueList' %}" class="mr-3"><i
                                        class="fa fa-step-backward"></i></a>
                                <a href="" class="mr-3"><i class="ti-reload"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end upper header -->
                <!-- main form  -->
                <div class="card-body">
                    <form id="create_form" class="needs-validation" novalidate enctype="multipart/form-data">
                        <input type="hidden" id="id" name="id" value="{{material_out.id}}">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>Transaction Number </label>
                                <input type="text" id="transaction_number" name="transaction_number" class="form-control" value="{{material_out.transaction_number}}" readonly >
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>Source Store<span class="required-indicator">*</span></label>
                                <input type="text" id="source_store_name" name="store_name" class="form-control" value="{{material_out.source_store.name}}" readonly >
                                <input type="hidden" id="source_store_id" name="store_id" value="{{material_out.source_store_id}}">
                            </div>
                            
                            
                            <div class="col-md-3 mb-3 test ">
                                <label>Destination Store<span class="required-indicator">*</span></label>
                                <input type="text" id="destination_store_name" name="store_name" class="form-control" value="{{material_out.destination_store.name}}" readonly >
                                <input type="hidden" id="destination_store_id" name="store_id" value="{{material_out.destination_store_id}}">
                            </div>

                            <div class="col-md-2 mb-3">
                                <label>Transaction Date <span class="required-indicator">*</span></label>
                                <input type="date" name="transaction_date" class="form-control transaction_date" value="{{material_out.transaction_date|date:'Y-m-d'}}" readonly>
                            </div>

                            <div class="col-md-12" id="table_form">
                                {% for materialIssueDetail in materialIssue.store_transaction_detail_set.all %}
                                <div class="form-row content_parent">
                                    <div class="col-md-5 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <select class="custom-select selectpicker item_id" name="item_id" required {% if jobOrder.with_item == 'True' %}disabled{% endif %}>
                                            <option value="">Choose...</option>
                                            {% for item in items %}
                                                <option {% if materialIssueDetail.item_id == item.pk %}selected{% endif %} value="{{item.pk}}">{{item.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>Actual quantity <span class="required-indicator">*</span></label>
                                        <input type="text" 
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="actual_quantity" min="0.01" class="form-control actual_quantity"
                                            placeholder="0.00" readonly>
                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>Quantity Sent <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="quantity_sent" min="0.01" class="form-control quantity_sent"
                                            value="{{materialIssueDetail.quantity}}" required>
                                        <input type="hidden" name="quantity_sent_og" class="form-control quantity_sent_og" value="{{materialIssueDetail.quantity}}">
                                    </div>

                                    {% if jobOrder.with_item != 'True' %}
                                        <div class="col-md-1 btn-group mb-4 text-center">
                                            <button type="button" class="btn add_btn m-1">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                        {% if request.user.is_superuser == 1 or 'edit_store_transaction'|get_session_permission:request is not None %}
                        <div id="submit">
                            <button class="btn btn-success submit-btn" type="submit">Submit</button>
                        </div>
                        {% endif %}
                    </form>
                </div>
                <!-- end main form -->
            </div>
        </div>
    </div>

</div>
<!-- end main wrapper div -->

{% endblock %}

{% block js %}
<!-- script -->
<script>
$(document).ready(function(){
    console.log("{{material_out.source_store.name}}")
})

</script>

{% endblock js %}