{% extends 'portal/base.html' %}
{% load static %}
{% load template_func %}

{% block css %}
<style>
    .input-group-addon {
        border-left: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
    <!--================================-->
    <!-- Breadcrumb Start -->
    <!--================================-->
    <div class="pageheader pd-t-25 pd-b-35">
        <div class="d-flex justify-content-between">
            <div class="clearfix">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 tx-20 tx-dark">{{parent_page_title}} {{page_title}}</h1>
                </div>
                <div class="breadcrumb pd-0 mg-0">
                    {% for breadcrumb in breadcrumbs %}
                    {% if forloop.counter != breadcrumbs|length %}
                    <a class="breadcrumb-item" href="{{breadcrumb.url}}">{{breadcrumb.name}}</a>
                    {% else %}
                    <span class="breadcrumb-item active">{{breadcrumb.name}}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--/ Breadcrumb End -->
    <!--================================-->
    <!-- Form Element Start -->
    <!--================================-->
    <div class="row row-xs clearfix">
        <div class="col-md-12 col-lg-12">
            {% if messages %}
            {% for message in messages %}
            {% if forloop.counter == messages|length %}
            <div class="{{ message.tags }} success-msg-txt" style="height: 30px; text-align: center;">{{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="error-msg-txt" style="height: 30px; text-align: center;"></div>
            <div class="card mg-b-30">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-header-title tx-13 mb-0">{{parent_page_title}} {{page_title}}</h6>
                        </div>
                        <div class="text-right">
                            <div class="d-flex">
                                <a href="{% url 'superuser:billOfMaterialList' %}" class="mr-3"><i
                                        class="fa fa-step-backward"></i></a>
                                <a href="" class="mr-3"><i class="ti-reload"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="edit_form" class="needs-validation" novalidate>
                        <input type="hidden" id="id" name="id" value="{{billOfMaterial.id}}">
                        <input type="hidden" id="bom_item_id" name="bom_item_id" value="{{billOfMaterial.bom_item_id}}">
                        <input type="hidden" id="level" name="level" value="{{billOfMaterial.level}}">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Name<span class="required-indicator">*</span></label>
                                <div class="input-group">
                                    <select class="custom-select selectpicker bom_item_id" name="bom_item_id" required disabled>
                                        <option value="">Choose...</option>
                                        {% for item in items %}
                                            <option value="{{item.pk}}" {% if item.id == billOfMaterial.bom_item_id %}selected{% endif %}>{{item.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Level <span class="required-indicator">*</span></label>
                                <input type="text" name="level" class="form-control" placeholder="Level" disabled
                                    required id="bom_level_level" onkeyup="checkMaxMin(this)" value="{{billOfMaterial.level}}" min="1"
                                    onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                            </div>
                        </div>
                        {% for detail in billOfMaterial.bill_of_material_detail_set.all %}
                        <div class="form-row content_parent">
                            <div class="col-md-2 mb-3">
                                <label>Type <span class="required-indicator">*</span>{{forloop.counter}}</label>
                                <div class="input-group">
                                    <select class="custom-select selectpicker type_id" name="type_id" required  >
                                        <option value="">Choose...</option>
                                        <option value="item" {% if detail.item_id is not None %}selected{% endif %}>Item</option>
                                        <option value="bom_level" {% if detail.bom_level_id is not None %}selected{% endif %}>BOM Level</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row col-md-10 type_content">
                                {% if detail.item_id is not None %}
                                <div class="col-md-3 mb-3">
                                    <label>Item <span class="required-indicator">*</span></label>
                                    <div class="input-group">
                                        <select class="custom-select selectpicker item_id" name="item_id" required>
                                            <option value="">Choose...</option>
                                            {% for each in items %}
                                            <option value="{{each.pk}}" {% if each.id == detail.item_id %}selected{% endif %}>{{each.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Unit Price <span class="required-indicator">*</span></label>
                                    <input type="text" onkeyup="checkMaxMin(this)" readonly value="{{detail.item.price}}"
                                        onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                        name="item_unit_price" min="0.01" class="form-control item_unit_price" placeholder="0.00" required>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label>Quantity <span class="required-indicator">*</span></label>
                                    <input type="text" onkeyup="checkMaxMin(this)" value="{{detail.quantity}}"
                                        onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                        name="item_quantity" min="0.0001" class="form-control item_quantity" placeholder="Quantity" required>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Price <span class="required-indicator">*</span></label>
                                    <input type="text" onkeyup="checkMaxMin(this)" value="{{detail.price}}"
                                        onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                        name="item_price" min="0.01" class="form-control item_price" placeholder="0.00" required>
                                </div>
                                <div class="col-md-1 mb-4 text-center ">
                                    {% if forloop.counter == 1 %}
                                    <button type="button" class="btn add_btn mt-1"><i class="fa fa-plus"></i></button>
                                    {% else %}
                                    <button type="button" class="btn remove_btn mt-1"><i class="fa fa-minus"></i></button>
                                    {% endif %}
                                </div>
                                {% elif detail.bom_level_id is not None %}
                                <div class="col-md-3 mb-3">
                                    <label>BOM Level <span class="required-indicator">*</span></label>
                                    <div class="input-group">
                                        <select class="custom-select selectpicker bom_level_id" name="bom_level_id" required>
                                            <option value="">Choose...</option>
                                            {% for each in bomLevels %}
                                                <option value="{{each.pk}}" {% if each.id == detail.bom_level_id %}selected{% endif %}>{{each.bom_item.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Unit Price <span class="required-indicator">*</span></label>
                                    <input type="text" onkeyup="checkMaxMin(this)" readonly value="{{detail.bom_level.price}}"
                                        onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                        name="bom_level_unit_price" min="0.01" class="form-control bom_level_unit_price" placeholder="0.00" required>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label>Quantity <span class="required-indicator">*</span></label>
                                    <input type="text" onkeyup="checkMaxMin(this)" value="{{detail.quantity}}"
                                        onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                        name="bom_level_quantity" min="0.0001" class="form-control bom_level_quantity" placeholder="Quantity" required>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Price <span class="required-indicator">*</span></label>
                                    <input type="text" onkeyup="checkMaxMin(this)" value="{{detail.price}}"
                                        onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                        name="bom_level_price" min="0.01" class="form-control bom_level_price" placeholder="0.00" required>
                                </div>
                                <div class="col-md-1 mb-4 text-center ">
                                    {% if forloop.counter == 1 %}
                                    <button type="button" class="btn add_btn mt-1"><i class="fa fa-plus"></i></button>
                                    {% else %}
                                    <button type="button" class="btn remove_btn mt-1"><i class="fa fa-minus"></i></button>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="add_more_content">
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Bill Of Material Uom <span class="required-indicator">*</span></label>
                                <div class="input-group">
                                    <select class="custom-select selectpicker uom_id" name="uom_id" id="uom_id" required>
                                        <option value="">Choose...</option>
                                        {% for each in uoms %}
                                        <option value="{{each.pk}}" {% if each.id == billOfMaterial.uom_id %}selected{% endif %}>{{each.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Total Amount <span class="required-indicator">*</span></label>
                                <input type="text" name="total_amount" class="form-control" placeholder="Total Amount"
                                    required id="total_amount" onkeyup="checkMaxMin(this)" value="{{billOfMaterial.price}}"
                                    onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                            </div>
                        </div>
                        {% if request.user.is_superuser == 1 or 'change_bill_of_material'|get_session_permission:request is not None %}
                        <button class="btn btn-success submit-btn" type="submit">Submit</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ Form Element End -->
</div>
{% endblock %}

{% block js %}
<script>
    $('.selectpicker').select2({
        placeholder: ''
    });
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
    $('.selectpicker').select2({
        placeholder: '',
        templateResult: function(option) {
            if(option.element && (option.element).hasAttribute('hidden')){
                return null;
            }
            return option.text;
        }
    });
    
    var bom_item_options_text = ``;
    var item_options_text = ``;
    var bom_level_options_text = ``;

    var item_options_used_pk = [];
    var bom_options_used_pk = [];
    
    function update_all_options_used_pk(){
        item_options_used_pk=[]
        $('.item_id').each(function(){
            item_options_used_pk.push($(this).val())
        });
        item_options_used_pk.push($(".bom_item_id").val())
        
        bom_options_used_pk=[]
        $('.bom_level_id').each(function(){
            if($(this).val()!==""){
                bom_options_used_pk.push($(this).val())
            }
        });
    }

    function renderDropdowns(){
        $('.item_id').each(function(){
            let selected_item_pk=$(this).val()
            $(this).children("option").each(function(index, element){
                if( $(this).val()!==selected_item_pk && item_options_used_pk.includes($(this).val()) ){
                    $(this).prop("hidden",true)
                }
                else{
                    $(this).prop("hidden",false)
                }
            })
        })

        $('.bom_level_id').each(function(){
            let selected_bom_pk=$(this).val()
            $(this).children("option").each(function(index, element){
                if( $(this).val()!==selected_bom_pk && bom_options_used_pk.includes($(this).val()) ){
                    $(this).prop("hidden",true)
                }
                else{
                    $(this).prop("hidden",false)
                }
            })
        })
    }

    function callback(){
        var callbacks = $.Callbacks();
        callbacks.add(update_all_options_used_pk);
        callbacks.fire();
        callbacks.add(renderDropdowns);
        callbacks.fire();
        
        $('.selectpicker').select2({
            placeholder: '',
            templateResult: function(option) {
                if(option.element && (option.element).hasAttribute('hidden')){
                    return null;
                }
                return option.text;
            }
        });
    }


    $(document).ready(function () {

        $(".item_id").each(function(){
            item_options_used_pk.push($(this).val())
        })

        $(".bom_level_id").each(function(){
            bom_options_used_pk.push($(this).val())
        })

        $(".item_id").find("option[value='{{billOfMaterial.bom_item_id}}']").remove()

        $.ajax({
            url: "{% url 'api:itemList' %}?find_all=1",
            type: 'GET',
            data: ({}),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    item_options_text = `<option value="">Choose...</option>`;
                    for (let index = 0; index < response.page_items.length; index++) {
                        if(response.page_items[index].pk===Number("{{billOfMaterial.bom_item_id}}")){
                            continue;
                        }
                        item_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].name}</option>`;
                    }
                } else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
        
        level = Number("{{billOfMaterial.level}}") - 1;
        $.ajax({
            url: "{% url 'api:billOfMaterialList' %}?find_all=1&level=" + level,
            type: 'GET',
            data: ({}),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    bom_level_options_text = `<option value="">Choose...</option>`;
                    for (let index = 0; index < response.page_items.length; index++) {
                        bom_level_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].bom_item__name}</option>`;
                    }
                } else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    
        callback()
        $('.selectpicker').select2({
            placeholder: '',
            templateResult: function(option) {
                if(option.element && (option.element).hasAttribute('hidden')){
                    return null;
                }
                return option.text;
            }
        });

    });
    
    // $(document).on('change', '.bom_level_level', function () {
    //     level = $(this).val() - 1;
    //     $.ajax({
    //         url: "{% url 'api:billOfMaterialList' %}?find_all=1&level="+level,
    //         type: 'GET',
    //         data: ({}),
    //         headers: {
    //             'Authorization': getCookieValue("accessToken")
    //         },
    //         success: function (response) {
    //             if (response.status == 200) {
    //                 bom_level_options_text = `<option value="">Choose...</option>`;
    //                 for (let index = 0; index < response.page_items.length; index++) {
    //                     bom_level_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].name}</option>`;
    //                 }
    //                 $('.bom_level_id').html(bom_level_options_text);
    //             } else {
    //                 alert(response.message);
    //             }
    //         },
    //         error: function (error) {
    //             $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
    //         }
    //     });
    // });

    $(document).ready(function () {
        $.ajax({
            url: "{% url 'api:uomList' %}?find_all=1",
            type: 'GET',
            data: ({}),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    uom_options_text = `<option value="">Choose...</option>`;
                    for (let index = 0; index < response.page_items.length; index++) {
                        uom_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].name}</option>`;
                    }
                } else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    });

    $(document).on('change', '.type_id', function () {
        let element = $(this);
        type_name = element.val();
        parent = $(this).parents('.content_parent')
        content_parent_index = $('.content_parent').index(parent);
        function fn(){
            if (type_name == 'bom_level') {
                $(element).parents().closest('.content_parent').find('.type_content').html(`<div class="col-md-3 mb-3">
                                        <label>BOM Level <span class="required-indicator">*</span></label>
                                        <div class="input-group">
                                            <select class="custom-select selectpicker bom_level_id" name="bom_level_id" required>
                                                ${bom_level_options_text}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Unit Price <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)" readonly
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="bom_level_unit_price" min="0.01" class="form-control bom_level_unit_price" placeholder="0.00" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Quantity <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="bom_level_quantity" min="0.0001" class="form-control bom_level_quantity" placeholder="Quantity" required>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Price <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="bom_level_price" min="0.01" class="form-control bom_level_price" placeholder="0.00" required>
                                    </div>
                                    <div class="col-md-1 mb-4 text-center ">
                                        ${content_parent_index > 0 ? '<button type="button" class="btn remove_btn mt-1"><i class="fa fa-minus"></i></button>' : '<button type="button" class="btn add_btn mt-1"><i class="fa fa-plus"></i></button>'}
                                    </div>`)
            } else if (type_name == 'item') {
                $(element).parents().closest('.content_parent').find('.type_content').html(`<div class="col-md-3 mb-3">
                                        <label>Item <span class="required-indicator">*</span></label>
                                        <div class="input-group">
                                            <select class="custom-select selectpicker item_id" name="item_id" required>
                                                ${item_options_text}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Unit Price <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)" readonly
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="item_unit_price" min="0.01" class="form-control item_unit_price" placeholder="0.00" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Quantity <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="item_quantity" min="0.0001" class="form-control item_quantity" placeholder="Quantity" required>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Price <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="item_price" min="0.01" class="form-control item_price" placeholder="0.00" required>
                                    </div>
                                    <div class="col-md-1 mb-4 text-center ">
                                        ${content_parent_index > 0 ? '<button type="button" class="btn remove_btn mt-1"><i class="fa fa-minus"></i></button>' : '<button type="button" class="btn add_btn mt-1"><i class="fa fa-plus"></i></button>'}
                                    </div>`)
            }
        }
        var callbacks_ = $.Callbacks();
        callbacks_.add(fn);
        callbacks_.fire();
        callbacks_.add(callback);
        callbacks_.fire();
       
        $('.selectpicker').select2({
            placeholder: '',
            templateResult: function(option) {
                if(option.element && (option.element).hasAttribute('hidden')){
                    return null;
                }
                return option.text;
            }
        });


    });

    $(document).on('change', '.item_id', function () {
        let element = $(this);
        item_id = element.val();
        if (item_id != null && item_id != "") {
            $.ajax({
                url: "{% url 'api:itemList' %}?id="+item_id,
                type: 'GET',
                data: ({}),
                headers: {
                    'Authorization': getCookieValue("accessToken")
                },
                success: function (response) {
                    if (response.status == 200) {
                        callback()
                        element.parents('.content_parent').find('.item_quantity').val(1);
                        element.parents('.content_parent').find('.item_unit_price').val(response.page_items[0].price);
                        element.parents('.content_parent').find('.item_price').val(response.page_items[0].price);

                        $('.selectpicker').select2({
                            placeholder: '',
                            templateResult: function(option) {
                                if(option.element && (option.element).hasAttribute('hidden')){
                                    return null;
                                }
                                return option.text;
                            }
                        });
                        
                    } else {
                        alert(response.message);
                    }
                    calculateTotalAmount();
                },
                error: function (error) {
                    $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                }
            });
        }
    });

    $(document).on('change', '.bom_level_id', function () {
        let element = $(this);
        bom_level_id = element.val();
        if (bom_level_id != null && bom_level_id != "") {
            $.ajax({
                url: "{% url 'api:billOfMaterialList' %}?id="+bom_level_id,
                type: 'GET',
                data: ({}),
                headers: {
                    'Authorization': getCookieValue("accessToken")
                },
                success: function (response) {
                    if (response.status == 200) {
                        callback()
                        element.parents('.content_parent').find('.bom_level_quantity').val(1);
                        element.parents('.content_parent').find('.bom_level_unit_price').val(response.page_items[0].price);
                        element.parents('.content_parent').find('.bom_level_price').val(response.page_items[0].price);
                    } else {
                        alert(response.message);
                    }
                    calculateTotalAmount();
                    $('.selectpicker').select2({
                        placeholder: '',
                        templateResult: function(option) {
                            if(option.element && (option.element).hasAttribute('hidden')){
                                return null;
                            }
                            return option.text;
                        }
                    });     
                },
                error: function (error) {
                    $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                }
            });
        }
    });

    $(document).on('keyup change', '.item_quantity', function () {
        item_quantity = $(this).val();
        item_unit_price = $(this).parents(".content_parent").find('.item_unit_price').val();

        item_price = (parseFloat(item_quantity) * parseFloat(item_unit_price)).toFixed(2);

        $(this).parents(".content_parent").find('.item_price').val(item_price);
        calculateTotalAmount();
    });
    
    $(document).on('keyup change', '.bom_level_quantity', function () {
        bom_level_quantity = $(this).val();
        bom_level_unit_price = $(this).parents(".content_parent").find('.bom_level_unit_price').val();

        bom_level_price = (parseFloat(bom_level_quantity) * parseFloat(bom_level_unit_price)).toFixed(2);

        $(this).parents(".content_parent").find('.bom_level_price').val(bom_level_price);
        calculateTotalAmount();
    });
    
    $(document).on('keyup change', '.item_price', function () {
        calculateTotalAmount();
    });
    
    $(document).on('keyup change', '.bom_level_price', function () {
        calculateTotalAmount();
    });

    function checkMaxMin(element) {
        if ($(element).val() == "") {
            $(element).val($(element).attr('min'));
        } else {
            if (parseFloat($(element).attr('max')) < parseFloat($(element).val())) {
                $(element).val($(element).attr('max'));
            }
            if (parseFloat($(element).attr('min')) > parseFloat($(element).val())) {
                $(element).val($(element).attr('min'));
            }
        }
    }

    function calculateTotalAmount() {
        total_amount = 0;
        $('.item_price').each(function () {
            if ($(this).val() != "") {
                total_amount += parseFloat($(this).val());
            }
        });
        $('.bom_level_price').each(function () {
            if ($(this).val() != "") {
                total_amount += parseFloat($(this).val());
            }
        });
        $("#total_amount").val(total_amount.toFixed(2));
    }

    $(document).on('click', '.add_btn', function () {
        $('.add_more_content').append(`<div class="form-row content_parent">
                                <div class="col-md-2 mb-3">
                                    <label>Type <span class="required-indicator">*</span></label>
                                    <div class="input-group">
                                        <select class="custom-select selectpicker type_id" name="type_id" required>
                                            <option value="">Choose...</option>
                                            <option value="item" selected>Item</option>
                                            <option value="bom_level">BOM Level</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row col-md-10 type_content">
                                    <div class="col-md-3 mb-3">
                                        <label>Item <span class="required-indicator">*</span></label>
                                        <div class="input-group">
                                            <select class="custom-select selectpicker item_id" name="item_id" required>
                                                ${item_options_text}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Unit Price <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)" readonly
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="item_unit_price" min="0.01" class="form-control item_unit_price" placeholder="Unit Price" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Quantity <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="item_quantity" min="0.0001" class="form-control item_quantity" placeholder="Quantity" required>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Price <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="item_price" min="0.01" class="form-control item_price" placeholder="Price" required>
                                    </div>
                                    <div class="col-md-1 mb-4 text-center ">
                                        <button type="button" class="btn remove_btn mt-1"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>`);
        callback()
        $('.selectpicker').select2({
            placeholder: '',
            templateResult: function(option) {
                if(option.element && (option.element).hasAttribute('hidden')){
                    return null;
                }
                return option.text;
            }
        });
    });

    $(document).on('click', '.remove_btn', function () {
        $(this).parents().closest('.content_parent').remove();
        calculateTotalAmount();
        callback()
        $('.selectpicker').select2({
            placeholder: '',
            templateResult: function(option) {
                if(option.element && (option.element).hasAttribute('hidden')){
                    return null;
                }
                return option.text;
            }
        });
    });

    $(document).on('submit', '#edit_form', function (e) {
        e.preventDefault();
        $('.submit-btn').text('Submitting...');
        $('.submit-btn').prop('disabled', true);
        var formData = new FormData(edit_form);
        $.ajax({
            type: "POST",
            evalScripts: true,
            contentType: false,
            processData: false,
            url: "{% url 'api:billOfMaterialEdit' %}",
            data: formData,
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                $('.submit-btn').text('Submitting...');
                $('.submit-btn').prop('disabled', false);
                if (response.status == 200) {
                    locationAfterMessageStore(response.message, 'success', "{% url 'superuser:billOfMaterialList' %}");
                } else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.submit-btn').text('Submitting...');
                $('.submit-btn').prop('disabled', false);
                // locationAfterMessageStore(error.responseJSON.detail, 'error');
                $('.success-msg-txt').text("");
                $('.error-msg-txt').removeClass('text-secondary').removeClass('text-info').removeClass('text-success').removeClass('text-warning').removeClass('text-danger');
                $('.error-msg-txt').addClass('text-danger');
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    });
</script>
{% endblock %}