{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <title>{{page_title}}</title>
    <style type="text/css">
        body {
            position: absolute;
            top: 2%;
            left: 2%;
            right: 2%;
        }

        table,
        th,
        tr,
        td {
            border: 1px solid rgb(195, 195, 195);
        }

        tr,
        th,
        td {
            font-family: sans-serif;
            font-size: 12px;
            padding: 7px;
            text-align: left;
        }

        .fs-16 {
            font-size: 16px;
        }

        .fs-10 {
            font-size: 10px;
        }

        .fs-11 {
            font-size: 11px;
        }
    </style>
</head>

<body>
    <h2>{{billOfMaterial.name}} Structure</h2>
    <div class="card-body bill_of_material_details text-align: center">
    </div>
</body>
<script>
    function getInnerBOMStructure(structure, structure_html) {
        for (let index = 0; index < structure.length; index++) {
            let structure_element = structure[index];
            if ('item' in structure_element) {
                structure_html += `<li>
                                        <div class="row col-md-12">
                                            <div class="col-md-3">
                                                ${structure_element.item.name}
                                            </div>
                                            <div class="col-md-3">
                                                Quantity: ${structure_element.quantity}
                                            </div>
                                            <div class="col-md-3">
                                                UOM: ${structure_element.item.uom__name}
                                            </div>
                                            <div class="col-md-3">
                                                Price: ${structure_element.price}
                                            </div>
                                        </div>
                                    </li>`;
            } else if ('bom' in structure_element) {
                structure_html += `<li><div class="row col-md-12"><div class="col-md-12">${structure_element.bom.name} &nbsp;&nbsp;&nbsp;&nbsp; (${structure_element.bom.price}/${structure_element.bom.uom__name})`;
                structure_html += `<ul>`;
                structure_html += getInnerBOMStructure(structure_element.bom.structure, '');
                structure_html += `</ul>`;
                structure_html += `</div></div></li>`;
            }
        }
        return structure_html;
    }
    function getStructureHtml(structure, structure_html) {
        structure_html += `${structure.name} &nbsp;&nbsp;&nbsp;&nbsp; (${structure.price}/${structure.uom__name})`
        structure_html += `<ul>`
        if ('structure' in structure) {
            structure_html += getInnerBOMStructure(structure.structure, '');
            structure_html += `</ul>`;
        }
        return structure_html;
    }
    $(document).ready(function () {
        token = null;
        const name = "accessToken" + '=';
        const decodedCookie = decodeURIComponent(document.cookie);
        const cookieArray = decodedCookie.split(';');

        for (let i = 0; i < cookieArray.length; i++) {
            let cookie = cookieArray[i].trim();

            if (cookie.indexOf(name) === 0) {
                token = cookie.substring(name.length, cookie.length);
            }
        }
        $.ajax({
            url: "{% url 'api:getBillOfMaterialStructure' %}?bom_id={{billOfMaterial.pk}}",
            type: 'GET',
            data: ({}),
            headers: {
                'Authorization': token
            },
            success: function (response) {
                structure_html = getStructureHtml(response.page_items, '')
                $('.bill_of_material_details').html(structure_html);
                window.print();
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    });
</script>

</html>