{% extends 'portal/base.html' %}
{% load static %}
{% load template_func %}

{% block css %}
{% endblock %}

{% block content %}
<div class="wrapper">
    <!--================================-->
    <!-- Breadcrumb Start -->
    <!--================================-->
    <div class="pageheader pd-t-25 pd-b-35">
        <div class="d-flex justify-content-between">
            <div class="clearfix">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 tx-20 tx-dark">{{parent_page_title}} {{page_title}}</h1>
                </div>
                <div class="breadcrumb pd-0 mg-0">
                    {% for breadcrumb in breadcrumbs %}
                    {% if forloop.counter != breadcrumbs|length %}
                    <a class="breadcrumb-item" href="{{breadcrumb.url}}">{{breadcrumb.name}}</a>
                    {% else %}
                    <span class="breadcrumb-item active">{{breadcrumb.name}}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--/ Breadcrumb End -->
    <!--================================-->
    <!-- Form Element Start -->
    <!--================================-->
    <div class="row row-xs clearfix">
        <div class="col-md-12 col-lg-12">
            {% if messages %}
            {% for message in messages %}
            {% if forloop.counter == messages|length %}
            <div class="{{ message.tags }} success-msg-txt" style="height: 30px; text-align: center;">{{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="error-msg-txt" style="height: 30px; text-align: center;"></div>
            <div class="card mg-b-30">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-header-title tx-13 mb-0">{{parent_page_title}} {{page_title}}</h6>
                        </div>
                        <div class="text-right">
                            <div class="d-flex">
                                <a href="{% url 'superuser:itemList' %}" class="mr-3"><i
                                        class="fa fa-step-backward"></i></a>
                                <a href="" class="mr-3"><i class="ti-reload"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="create_form" class="needs-validation" novalidate enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>Order Number <span class="required-indicator">*</span></label>
                                <input type="text" id="order_number" name="order_number" class="form-control"
                                    placeholder="Order Number" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Order Date <span class="required-indicator">*</span></label>
                                <input type="date" name="order_date" class="form-control" placeholder="Order Date" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <!-- <label>Destination store <span class="required-indicator">*</span></label>
                                <div class="input-group">
                                    <select class="custom-select selectpicker" id="destination_store_id" name="destination_store_id" required>
                                        <option value=""></option>
                                    </select>
                                </div> -->
                            </div>

                            <div class="col-md-12">
                                <div class="form-row content_parent">
                                    <div class="col-md-5 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <div class="input-group">
                                            <select class="custom-select selectpicker item_id" name="item_id" required>
                                                <option value="">Choose...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Rate <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="rate" min="0.01" class="form-control rate"
                                            placeholder="0.00" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Quantity <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="item_quantity" min="0.0001" class="form-control item_quantity" style="padding-left: 10px;"
                                            placeholder="Quantity" required >
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Price <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)" disabled
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="item_price" min="0.01" class="form-control item_price"
                                            placeholder="0.00" required>
                                    </div>
                                    <div class="col-md-1 btn-group mb-4 text-center">
                                        <button type="button" class="btn expand_btn m-1">
                                            <i class="fa fa-expand"></i>
                                        </button>
                                        <button type="button" class="btn add_btn m-1">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="add_more_content col-md-12">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label>Total Amount <span class="required-indicator">*</span></label>
                                <input type="text" name="total_amount" class="form-control" placeholder="Total Amount"
                                    required id="total_amount" onkeyup="checkMaxMin(this)"
                                    onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                            </div>
                        </div>
                        {% if request.user.is_superuser == 1 or 'add_item'|get_session_permission:request is not None %}
                        <button class="btn btn-success submit-btn" type="submit">Submit</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ Form Element End -->
</div>
{% endblock %}

{% block js %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
    var item_options_text = ``;
    var item_options_used_pk = [];
    var itemsData;

    $('.selectpicker').select2({
        placeholder: '',
        templateResult: function(option) {
            if(option.element && (option.element).hasAttribute('hidden')){
                return null;
            }
            return option.text;
        }
    });

    function renderItemDropdown(){
        // console.log(item_options_used_pk)
        $('.item_id').each(function(){
            let selected_item_id=$(this).val()
            $(this).children("option").each(function(index, element){
                if($(this).val()!==selected_item_id && item_options_used_pk.includes($(this).val()) ){
                    $(this).prop("hidden",true)
                }
                else{
                    $(this).prop("hidden",false)
                }
            })
        })
    }

    function update_item_options_used_pk(){
        item_options_used_pk=[]
        $('.item_id').each(function(){
            item_options_used_pk.push($(this).val())
        }); 
    }

    function callback(){
        var callbacks = $.Callbacks();
        callbacks.add(update_item_options_used_pk);
        callbacks.fire();
        callbacks.add(renderItemDropdown);
        callbacks.fire();
        
        $('.selectpicker').select2({
            placeholder: '',
            templateResult: function(option) {
                if(option.element && (option.element).hasAttribute('hidden')){
                    return null;
                }
                return option.text;
            }
        });
    }

    function calculateTotalAmount() {
        total_amount = 0;
        $('.item_price').each(function () {
            if ($(this).val() != "") {
                total_amount += parseFloat($(this).val());
            }
        });
        $("#total_amount").val((total_amount).toFixed(2));
    }

    function checkMaxMin(element) {
            if ($(element).val() == "") {
                $(element).val($(element).attr('min'));
            } else {
                if (parseFloat($(element).attr('max')) < parseFloat($(element).val())) {
                    $(element).val($(element).attr('max'));
                }
                if (parseFloat($(element).attr('min')) > parseFloat($(element).val())) {
                    $(element).val($(element).attr('min'));
                }
            }
        }
    
    function bill_of_material_structure(content_parent, bom_item_id){
        content_parent.find(".content_child").remove();
        let item_id_n_bom_id=JSON.parse("{{item_id_n_bom_id|escapejs}}")
        if(item_id_n_bom_id[bom_item_id])
        {
            $.ajax({
                url: "{% url 'api:getBillOfMaterialStructure'%}?bom_id="+item_id_n_bom_id[bom_item_id],
                type: 'GET',
                data: ({}),
                headers: {
                    'Authorization': getCookieValue("accessToken")
                },
                success: function (response) {
                    if (response.status == 200) {
                        bom_structure_details=response.page_items["structure"]
                        console.log(bom_structure_details)
                        let content_child=`<div class="content_child col-md-12 pl-4 pr-5 pt-3 mb-4" style="max-width:93%;" hidden>`
                        
                        bom_structure_details.forEach(e1 => {

                            if(e1["item"]){
                                let pk=e1["item"]["pk"]
                                let name=e1["item"]["name"]
                                let rate=e1["item"]["price"]
                                let quantity=parseFloat(e1["quantity"])
                                let price=parseFloat(e1["price"])
                                content_child+=`
                                    <div class="form-row job_order_detail_sent">
                                        <input type="hidden" name="jods_item_id_${bom_item_id}"  value="${pk}">
                                        <div class="col-md-5 mb-3">
                                            <label>Item<span class="required-indicator">*</span></label>
                                            <input type="text" id="item_name" name="jods_name_${bom_item_id}" class="form-control" value="${name}" required readonly>
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <label>Rate <span class="required-indicator">*</span></label>
                                            <input type="text" name="jods_rate_${bom_item_id}" class="form-control bom_structure_rate" value="${rate}" readonly required>
                                        </div>
                                        <input type="hidden" name="jods_quantity_per_unit_${bom_item_id}" class="bom_structure_quantity_per_unit" value="${quantity}">
                                        <div class="col-md-2 mb-3">
                                            <label>Quantity <span class="required-indicator">*</span></label>
                                            <input type="text" onkeyup="checkMaxMin(this)" max="${quantity}" onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                name="jods_quantity_${bom_item_id}" min="0.0001" class="form-control bom_structure_quantity" style="padding-left: 10px;" value="${quantity}" required >
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <label>Price <span class="required-indicator">*</span></label>
                                            <input type="text" onkeyup="checkMaxMin(this)" readonly 
                                                name="jods_price_${bom_item_id}" min="0.01" class="form-control bom_structure_item_price"
                                                value="${price}" required>
                                        </div>
                                        <div class="col-md-1 btn-group mb-4 text-center">
                                            <span style="width: 22px;margin-left: 45px;"></span>
                                            <button type="button" class="btn bom_structure_remove_btn m-1">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                `
                            
                            }

                            if(e1===bom_structure_details[bom_structure_details.length-1]){
                                bom_structure_details.forEach(e2 => {
                                    if(e2["bom"]){
                                        let pk=e2["bom"]["bom_item_id"]
                                        let name=e2["bom"]["bom_item__name"]
                                        let rate=e2["bom"]["price"]
                                        let quantity=parseFloat(e2["quantity"])
                                        let price=parseFloat(e2["price"])
                                        content_child+=`
                                            <div class="form-row job_order_detail_sent">
                                                <input type="hidden" class="bom_structure_bom_item_id" name="jods_item_id_${bom_item_id}"  value="${pk}">
                                                <div class="col-md-5 mb-3">
                                                    <label>Item<span class="required-indicator">*</span></label>
                                                    <input type="text" id="item_name" name="jods_name_${bom_item_id}" class="form-control" value="${name}" required readonly>
                                                </div>
                                                <div class="col-md-2 mb-3">
                                                    <label>Rate <span class="required-indicator">*</span></label>
                                                    <input type="text" name="jods_rate_${bom_item_id}" class="form-control bom_structure_rate" value="${rate}" readonly required>
                                                </div>
                                                <input type="hidden" name="jods_quantity_per_unit_${bom_item_id}" class="bom_structure_quantity_per_unit" value="${quantity}">
                                                <div class="col-md-2 mb-3">
                                                    <label>Quantity <span class="required-indicator">*</span></label>
                                                    <input type="text" onkeyup="checkMaxMin(this)" max="${quantity}" onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                        name="jods_quantity_${bom_item_id}" min="0.0001" class="form-control bom_structure_quantity" style="padding-left: 10px;" value="${quantity}" required >
                                                </div>
                                                <div class="col-md-2 mb-3">
                                                    <label>Price <span class="required-indicator">*</span></label>
                                                    <input type="text" onkeyup="checkMaxMin(this)" readonly 
                                                        name="jods_price_${bom_item_id}" min="0.01" class="form-control bom_structure_item_price"
                                                        value="${price}" required>
                                                </div>
                                                <div class="col-md-1 btn-group mb-4 text-center">
                                                    <button type="button" class="btn bom_structure_edit_btn m-1">
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                    <button type="button" class="btn bom_structure_remove_btn m-1">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        `
                                    
                                    }
                                });
                            }

                        });

                        
                        content_child+=`</div>`
                        content_parent.append(content_child)
                    } 
                    else {
                        alert(response.message);
                    }
                },
                complete: function(response){
                    if (content_parent.find('i').hasClass('fa-compress')){
                        content_parent.find(".content_child").attr("hidden",false)
                    }
                },
                error: function (error) {
                    $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                }
            });
        }
        else{
            content_parent.children(".content_child").remove()
        }
    }

    $(document).ready(function () {
        // $.ajax({
        //     url: "{% url 'api:storeList' %}?find_all=1",
        //     type: 'GET',
        //     data: ({}),
        //     headers: {
        //         'Authorization': getCookieValue("accessToken")
        //     },
        //     success: function (response) {
        //         if (response.status == 200) {
        //             var store_options_text = `<option value=""></option>`;
        //             for (let index = 0; index < response.page_items.length; index++) {
        //                 store_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].name}</option>`;
        //             }
        //             $('#source_store_id').html(store_options_text);
        //             $('#destination_store_id').html(store_options_text);
        //         } else {
        //             alert(response.message);
        //         }
        //     },
        //     error: function (error) {
        //         $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
        //     }
        // });

        $.ajax({
            url: "{% url 'api:itemList' %}?find_all=1",
            type: 'GET',
            data: ({}),
            headers: {
                'Authorization': getCookieValue("accessToken")
            },
            success: function (response) {
                if (response.status == 200) {
                    // itemsData=response.page_items
                    item_options_text += `<option value="">Choose item</option>`;
                    for (let index = 0; index < response.page_items.length; index++) {
                        item_options_text += `<option value="${response.page_items[index].pk}">${response.page_items[index].name}</option>`;
                    }
                    $('.item_id').html(item_options_text);
                    $('.selectpicker').select2({
                        placeholder: '',
                        templateResult: function(option) {
                            if(option.element && (option.element).hasAttribute('hidden')){
                                return null;
                            }
                            return option.text;
                        }
                    });
                } 
                else {
                    alert(response.message);
                }
            },
            error: function (error) {
                $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
            }
        });
    });

    // $(document).on('change', '#source_store_id', function () {
    //     var source_store_id = $('#source_store_id').val();
    //     var destination_store_options = $('#destination_store_id').children();
    //     destination_store_options.each( function(index){
    //         if( $(this).val()===source_store_id){
    //             $(this).attr("hidden",true)
    //         }
    //         else{
    //             if($(this).attr("hidden")==="hidden"){
    //                 $(this).removeAttr("hidden")
    //             }
    //         }
    //     })
    // });

    // $(document).on('change', '#destination_store_id', function () {
    //     var destination_store_id = $('#destination_store_id').val();
    //     var source_store_options = $('#source_store_id').children();
    //     source_store_options.each( function(){
    //         if( $(this).val()===destination_store_id){
    //             $(this).attr("hidden",true)
    //         }
    //         else{
    //             if($(this).attr("hidden")==="hidden"){
    //                 $(this).removeAttr("hidden")
    //             }
    //         }
    //     })
    // });

    $(document).on('change', '.item_id', function () {
        let element = $(this);
        let item_count = 0;

        bill_of_material_structure($(this).parents(".content_parent"), element.val())


        $(this).closest('.content_parent').find('.item_id').each(function () {
            if ($(this).val() == element.val()) {
                item_count += 1;
            }
        })
        if (item_count > 1) {
            element.val("");
            element.parents('.content_parent').find('.item_quantity').val("");
            element.parents('.content_parent').find('.rate').val("");
            element.parents('.content_parent').find('.item_price').val("");
            element.parents('.content_parent').find('.gst_percentage').val("");
            element.parents('.content_parent').find('.amount_with_gst').val("");
            alert("Item already added in the list.");
            calculateTotalAmount();
        } 
        else {
            item_id = element.val();
            if (item_id != null && item_id != "") {
                $.ajax({
                        url: "{% url 'api:itemList' %}?id=" + item_id,
                        type: 'GET',
                        data: ({}),
                        headers: {
                            'Authorization': getCookieValue("accessToken")
                        },
                        success: function (response) {
                            if (response.status == 200) {
                                callback();
                                console.log()
                                element.parents('.content_parent').find('.item_quantity').val(1);
                                element.parents('.content_parent').find('.rate').val(response.page_items[0].price);
                                element.parents('.content_parent').find('.item_price').val(response.page_items[0].price);    
                            } 
                            else {
                                alert(response.message);
                            }
                            calculateTotalAmount();
                        },
                        error: function (error) {
                            $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                        }
                    });
                
            }
        }

    });

    $(document).on('keyup change', '.item_quantity', function () {
        item_quantity = $(this).val();
        rate = $(this).parents(".content_parent").find('.rate').val();

        item_price = (parseFloat(item_quantity) * parseFloat(rate)).toFixed(2);
        $(this).parents(".content_parent").find('.item_price').val(item_price);

        calculateTotalAmount();
        
        $(this).closest('.content_parent').find('.content_child').find('.job_order_detail_sent').each( function(){
            let max_quantity=item_quantity*$(this).find('.bom_structure_quantity_per_unit').val()
            $(this).find('.bom_structure_quantity').attr("max",max_quantity)
            $(this).find('.bom_structure_quantity').val(max_quantity)
            $(this).find('.bom_structure_quantity').trigger("change")
        })

    });

    $(document).on('keyup change', '.bom_structure_quantity', function () {
        let rate = $(this).parents().closest(".job_order_detail_sent").find('.bom_structure_rate').val();
        let price = (parseFloat($(this).val()) * parseFloat(rate)).toFixed(2);

        $(this).parents().closest(".job_order_detail_sent").find('.bom_structure_item_price').val(price);
        
        $(this).closest('.job_order_detail_sent').find('.content_child').find('.job_order_detail_sent').each( function(){
            let max_quantity=item_quantity*$(this).find('.bom_structure_quantity_per_unit').val()
            $(this).find('.bom_structure_quantity').attr("max",max_quantity)
            $(this).find('.bom_structure_quantity').val(max_quantity)
            $(this).find('.bom_structure_quantity').trigger("change")
        })

    });

    $(document).on('keyup change', '.rate', function () {
        rate = $(this).val();
        item_quantity = $(this).parents(".content_parent").find('.item_quantity').val();

        item_price = (parseFloat(item_quantity) * parseFloat(rate)).toFixed(2);
        $(this).parents(".content_parent").find('.item_price').val(item_price);

        calculateTotalAmount();
    });
  
    $(document).on('click', '.add_btn', function () {
        $('.add_more_content').append(`<div class="form-row content_parent">
                                    <div class="col-md-5 mb-3">
                                        <label>Item<span class="required-indicator">*</span></label>
                                        <div class="input-group">
                                            <select class="custom-select selectpicker item_id" name="item_id" required>
                                                ${item_options_text}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Rate <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="rate" min="0.01" class="form-control rate"
                                            placeholder="0.00" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Quantity <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)"
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="item_quantity" min="0.0001" class="form-control item_quantity"
                                            placeholder="Quantity" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Price <span class="required-indicator">*</span></label>
                                        <input type="text" onkeyup="checkMaxMin(this)" disabled
                                            onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            name="item_price" min="0.01" class="form-control item_price"
                                            placeholder="0.00" required>
                                    </div>
                                    <div class="col-md-1 btn-group mb-4 text-center">
                                        <button type="button" class="btn expand_btn m-1">
                                            <i class="fa fa-expand"></i></button>
                                            <button type="button" class="btn remove_btn m-1">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                    </div>
                                </div>`
                                );
        callback();
    });

    $(document).on('click', '.remove_btn', function () {
        $(this).parents().closest('.content_parent').remove();
        calculateTotalAmount();
        callback();
    });

    $(document).on('change', '#discount_type', function () {
        if ($(this).val() == 'no_discount') {
            $('.discount_value_display').hide();
            $('#discount_value').removeAttr('required');
            $('#discount_value').removeAttr('max');
            $('#discount_value').val('');
        } else if ($(this).val() == 'percentage') {
            $('.discount_value_display').show();
            $('#discount_value').attr('required', 'required');
            $('#discount_value').attr('max', '100');
            $('#discount_value').val('');
        } else {
            $('.discount_value_display').show();
            $('#discount_value').attr('required', 'required');
            $('#discount_value').removeAttr('max');
            $('#discount_value').val('');
        }
    });

    $(document).on('keyup change', '#discount_value', function () {
        calculateTotalAmount();
    });

    $(document).on('keyup change', '#excise_duty_percentage', function () {
        calculateTotalAmount();
    });

    $(document).on('keyup change', '#insurance', function () {
        calculateTotalAmount();
    });

    $(document).on('keyup change', '#octroi', function () {
        calculateTotalAmount();
    });

    $(document).on('keyup change', '#freight', function () {
        calculateTotalAmount();
    });
    
    $(document).on('click', '.expand_btn', function() {
        if ($(this).find('i').hasClass('fa-expand')) {
            $(this).html('<i class="fa fa-compress"></i>');
            $(this).parents().closest('.content_parent').children('.content_child').attr("hidden",false);
        } 
        else {
            $(this).html('<i class="fa fa-expand"></i>');
            $(this).parents().closest('.content_parent').children('.content_child').attr("hidden",true);
        }
    })

    $(document).on('click', '.bom_structure_remove_btn', function () {
        $(this).closest('.job_order_detail_sent').remove();
    });

    $(document).on('click', '.bom_structure_edit_btn', function(){
        let job_order_detail_sent=$(this).closest('.job_order_detail_sent')
        
        if(job_order_detail_sent.find(".content_child").length){
            job_order_detail_sent.find(".content_child").remove()
            job_order_detail_sent.children().eq(2).children().show()
            job_order_detail_sent.children().eq(5).children().show()
        }
        else{

            let bom_item_id=job_order_detail_sent.find(".bom_structure_bom_item_id").val()
            let item_id_n_bom_id=JSON.parse("{{item_id_n_bom_id|escapejs}}")


            $.ajax({
                    url: "{% url 'api:getBillOfMaterialStructure'%}?bom_id="+item_id_n_bom_id[bom_item_id],
                    type: 'GET',
                    data: ({}),
                    headers: {
                        'Authorization': getCookieValue("accessToken")
                    },
                    success: function (response) {
                        if (response.status == 200) {
                            job_order_detail_sent.children().eq(2).children().hide()
                            job_order_detail_sent.children().eq(5).children().hide()

                            let bom_structure_details=response.page_items["structure"]
                            let parent_max_width=parseFloat(job_order_detail_sent.closest('.content_child').css('max-width'))
                            let child_max_width=Math.floor((parent_max_width**2)/100).toString()+"%"
                            let content_child=`<div class="content_child col-md-12 pl-4 pr-5 pt-3 mb-4" style="max-width:${child_max_width};">`
                            
                            bom_structure_details.forEach(e1 => {

                                if(e1["item"]){
                                    let pk=e1["item"]["pk"]
                                    let name=e1["item"]["name"]
                                    let rate=e1["item"]["price"]
                                    let quantity=parseFloat(e1["quantity"])
                                    let price=parseFloat(e1["price"])
                                    content_child+=`
                                        <div class="form-row job_order_detail_sent">
                                            <input type="hidden" name="jods_item_id_${bom_item_id}"  value="${pk}">
                                            <div class="col-md-5 mb-3">
                                                <label>Item<span class="required-indicator">*</span></label>
                                                <input type="text" id="item_name" name="jods_name_${bom_item_id}" class="form-control" value="${name}" required readonly>
                                            </div>
                                            <div class="col-md-2 mb-3">
                                                <label>Rate <span class="required-indicator">*</span></label>
                                                <input type="text" name="jods_rate_${bom_item_id}" class="form-control bom_structure_rate" value="${rate}" readonly required>
                                            </div>
                                            <input type="hidden" name="jods_quantity_per_unit_${bom_item_id}" class="bom_structure_quantity_per_unit" value="${quantity}">
                                            <div class="col-md-2 mb-3">
                                                <label>Quantity <span class="required-indicator">*</span></label>
                                                <input type="text" onkeyup="checkMaxMin(this)" max="${quantity}" onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                    name="jods_quantity_${bom_item_id}" min="0.0001" class="form-control bom_structure_quantity" style="padding-left: 10px;" value="${quantity}" required >
                                            </div>
                                            <div class="col-md-2 mb-3">
                                                <label>Price <span class="required-indicator">*</span></label>
                                                <input type="text" onkeyup="checkMaxMin(this)" readonly 
                                                    name="jods_price_${bom_item_id}" min="0.01" class="form-control bom_structure_item_price"
                                                    value="${price}" required>
                                            </div>
                                            <div class="col-md-1 btn-group mb-4 text-center">
                                                <span style="width: 22px;margin-left: 45px;"></span>
                                                <button type="button" class="btn bom_structure_remove_btn m-1">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    `
                                
                                }

                                if(e1===bom_structure_details[bom_structure_details.length-1]){
                                    bom_structure_details.forEach(e2 => {
                                        if(e2["bom"]){
                                            let pk=e2["bom"]["bom_item_id"]
                                            let name=e2["bom"]["bom_item__name"]
                                            let rate=e2["bom"]["price"]
                                            let quantity=parseFloat(e2["quantity"])
                                            let price=parseFloat(e2["price"])
                                            content_child+=`
                                                <div class="form-row job_order_detail_sent">
                                                    <input type="hidden" name="jods_item_id_${bom_item_id}"  value="${pk}">
                                                    <div class="col-md-5 mb-3">
                                                        <label>Item<span class="required-indicator">*</span></label>
                                                        <input type="text" id="item_name" name="jods_name_${bom_item_id}" class="form-control" value="${name}" required readonly>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <label>Rate <span class="required-indicator">*</span></label>
                                                        <input type="text" name="jods_rate_${bom_item_id}" class="form-control bom_structure_rate" value="${rate}" readonly required>
                                                    </div>
                                                    <input type="hidden" name="jods_quantity_per_unit_${bom_item_id}" class="bom_structure_quantity_per_unit" value="${quantity}">
                                                    <div class="col-md-2 mb-3">
                                                        <label>Quantity <span class="required-indicator">*</span></label>
                                                        <input type="text" onkeyup="checkMaxMin(this)" max="${quantity}" onkeypress="return (event.charCode >=45 && event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                                            name="jods_quantity_${bom_item_id}" min="0.0001" class="form-control bom_structure_quantity" style="padding-left: 10px;" value="${quantity}" required >
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <label>Price <span class="required-indicator">*</span></label>
                                                        <input type="text" onkeyup="checkMaxMin(this)" readonly 
                                                            name="jods_price_${bom_item_id}" min="0.01" class="form-control bom_structure_item_price"
                                                            value="${price}" required>
                                                    </div>
                                                    <div class="col-md-1 btn-group mb-4 text-center">
                                                        <button type="button" class="btn bom_structure_edit_btn m-1">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        <button type="button" class="btn bom_structure_remove_btn m-1">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            `
                                        
                                        }
                                    });
                                }

                            });

                            
                            content_child+=`</div>`
                            job_order_detail_sent.append(content_child)
                        } 
                        else {
                            alert(response.message);
                        }
                    },
                    // complete: function(response){
                    //     if (content_parent.find('i').hasClass('fa-compress')){
                    //         content_parent.find(".content_child").attr("hidden",false)
                    //     }
                    // },
                    error: function (error) {
                        $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                    }
                });
        }   
    })

    $(document).on('submit', '#create_form', function (e) {
            e.preventDefault();
            $('.submit-btn').text('Submitting...');
            $('.submit-btn').prop('disabled', true);
            var formData = new FormData(create_form);
            $.ajax({
                type: "POST",
                evalScripts: true,
                contentType: false,
                processData: false,
                url: "{% url 'api:purchaseOrderAdd' %}",
                data: formData,
                headers: {
                    'Authorization': getCookieValue("accessToken")
                },
                success: function (response) {
                    $('.submit-btn').text('Submitting...');
                    $('.submit-btn').prop('disabled', false);
                    if (response.status == 200) {
                        locationAfterMessageStore(response.message, 'success', "{% url 'superuser:purchaseOrderList' %}");
                    } else {
                        alert(response.message);
                    }
                },
                error: function (error) {
                    $('.submit-btn').text('Submitting...');
                    $('.submit-btn').prop('disabled', false);
                    // locationAfterMessageStore(error.responseJSON.detail, 'error');
                    $('.success-msg-txt').text("");
                    $('.error-msg-txt').removeClass('text-secondary').removeClass('text-info').removeClass('text-success').removeClass('text-warning').removeClass('text-danger');
                    $('.error-msg-txt').addClass('text-danger');
                    $('.error-msg-txt').text(error.responseJSON != null ? error.responseJSON.detail : error.statusText);
                }
            });
        });
</script>
{% endblock %}