{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html>

<head>
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <title>{{page_title}}</title>
    <style type="text/css">
        body {
            position: absolute;
            top: 2%;
            left: 2%;
            right: 2%;
        }

        table,
        th,
        tr,
        td {
            border: 1px solid rgb(195, 195, 195);
        }

        tr,
        th,
        td {
            font-family: sans-serif;
            font-size: 12px;
            padding: 7px;
            text-align: left;
        }

        .fs-16 {
            font-size: 16px;
            
        }

        .fs-10 {
            font-size: 10px;
            
        }
        .fs-8 {
            font-size: 8px;
            
        }

        .fs-11 {
            font-size: 11px;
        }

        .upperTab{
            margin-left: 0px;
            margin-right:0px;
            padding: 0px;
           }
    </style>
</head>

<body >
    <div style="text-align: center; width: 100%; padding-left: 150px;">
        <table style="border-width:0px; border-spacing:0px;width: 100%;">
        <tr>
            <td style=" border: white; text-align: center; padding-left: 10px;" colspan="4"><strong class="fs-16">{{ page_title|upper }}</strong></td>
            <td style=" border: white; margin-left: 600px;" colspan="2"><p >(ORIGINAL FOR RECIPIENT)</p></td>
        </tr>
        </table>     
    </div>
    <div style="border: 1px solid black;">
        <div style="width: 100%; border-color: 1px solid black;">
            <table style="border-width:0px; border-spacing:0px; width: 100%;">
            <tr>
                <td style="width:60%; margin-top: -10px;">
                    <Strong>{{config.client_name}}</Strong><br>
                    
                        {{config.client_address}}<br>
                        Ph. – {{config.client_contact}}<br>
                        Works – {{config.client_work_address}}<br>
                        GST - {{config.client_gst}}
                   
                </td>
                <td colspan="10" rowspan="12" style="width:40%; padding: 0px;">
                    <table style=" width: 100%;" >
                        <tr>
                            <td>Order No.<br>
                            <strong>{{jobOrder.order_number}}</strong>
                            </td>
                            <td>Order Date. <br>
                            <strong>{{jobOrder.order_date}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>Time allowed for Delivery(Day/Hrs)
                                <br>
                                <strong>{{jobOrder.estimated_time_day }}</strong>
                            </td>
                            <td> Manufacture Material Type
                                <br>
                                <strong>
                                {% if jobOrder.manufacturing_material_type == 'SFG' %} 
                                    Semi Finished Good
                                {% elif jobOrder.manufacturing_material_type == 'NA' %} 
                                    --- 
                                {% else %} 
                                    Finished Good
                                {% endif %}
                                </strong>
                            </td>
                            
                        </tr>
                    </table>
                </td>
            <tr>
                <td > <span style="text-decoration: underline;">Party Name</span><br>
                    {% if jobOrder.vendor %}
                    <strong>{{jobOrder.vendor.name}}</strong>
                    <p style="margin-top: 0px;">{{jobOrder.vendor.address}}</p>
                    <p style="margin-top: -5px;"> {{jobOrder.vendor.country.name}} &nbsp; {{jobOrder.vendor.state.name}} &nbsp; {{jobOrder.vendor.city.name}}</p>
                    <p style="margin-top: -5px;"> {{jobOrder.vendor.pin}}</p>
                    {% else %}
                    <strong>self</strong>
                    {% endif %}
                </td>
                
            </tr>
            </table>
            <div >
                <div  style="text-align: center;">
                    <h4> <span style="text-decoration: underline;">Details Of Material To be Manufacture</span> </h4>
                </div>
                <div>
                    <table style="border-width:0px; border-spacing:0px; width: 100%;">
                      <tr>
                        <th>Sl No</th>
                        <th>Material Name</th>
                        <th>Job Quantity</th>
                        <th>Uom</th>
                      </tr>
                      {% for details in jobOrder.job_order_detail_set|filter_incoming %}
                      <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{details.item.name}}</td>
                          <td>{{details.quantity}}</td>
                          <td>{{details.item.uom.name}}</td>
                          
                      </tr>
                      {% endfor %}
                    </table>
                </div>
            </div>
            <div>
                <div style="text-align: center;">
                    <h4> <span style="text-decoration: underline;">Details of Bom Of Manufacture Material</span> </h4>
                </div>
                <div>
                    <table style="border-width:0px; border-spacing:0px; width: 100%;">
                        <tr>
                          <th>Sl No</th>
                          <th>Material Name</th>
                          <th>Job Quantity</th>
                          <th>Uom</th>
                        </tr>
                        {% for details in jobOrder.job_order_detail_set|filter_outgoing %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{details.item.name}}</td>
                            <td>{{details.quantity}}</td>
                            <td>{{details.item.uom.name}}</td>
                            
                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>
        <!-- <table style="border-width:0px; border-spacing:0px; width: 100%;">
            <tr>
                <td rowspan="3" colspan="4" style="width:40%;"><strong class="fs-16">{{client_name}}.</strong><br>
                    {{client_address}},<br>
                    Ph. – {{client_contact}}<br>
                    Works – {{client_work_address}}
                </td>
               
        </table> -->
        <div>
            <table style="border-width:0px; border-spacing:0px; width:50%; padding-top: 200px; padding-left: 80px; margin-left: 346px;">
                <tr>
                    <td  colspan="2" style="text-align: center;"><p style="float: right; margin-top: 0px">for {{config.client_name}}</p>
                    <br>
                    
                    <br>
                    <p style="text-align: center;"> Authorised Signatory</p>
                    </td>
                </tr>
             </table>
        </div>
    </div>
</body>
<footer>
    <div>
        <table style=" border-width:0px; border-spacing:0px; width:50%; padding-left: 80px; margin-left: 80px;">
           <tr>
               <td rowspan="10" style="text-align: center; border: white;"> SUBJECT TO KOLKATA JURISDICTION <br>
                   This is a Computer Generated Document
               </td>
           </tr>
        </table>
    </div>
     
</footer>


</html>

<script>
    $(document).ready(function () {
        window.print();
    });
</script>